<template>
  <b-card
      no-body
      class="p-1"
  >
    <b-modal
        id="admin-modal"
        centered
        ok-title="تایید"
        cancel-title="لغو"
        cancel-variant="outline-danger"
        size="md"
        @ok.prevent="handleSubmit"
        :ok-disabled="state.loading"
        class="justify-content-center"
    >
      <b-card-body>
        <label>ایمیل</label>
        <b-form-input type="email" v-model="email"/>
        <br>
        <label>رمز عبور</label>
        <b-form-input type="password" v-model="password"/>
        <br>
      </b-card-body>
    </b-modal>
    <b-modal
        id="admin-edit-modal"
        centered
        ok-title="تایید"
        cancel-title="لغو"
        cancel-variant="outline-danger"
        size="md"
        @ok.prevent="handleEdit"
        class="justify-content-center"
    >
      <b-card-body>
        <label>
          ایمیل
        </label>
        <b-form-input type="text" v-model="email"/>
        <br>
        <label>
          رمز عبور
        </label>
        <b-form-input type="password" v-model="editPassword"/>
        <br>
      </b-card-body>
    </b-modal>
    <b-overlay
        rounded="sm"
        :show="state.loading"
    >
      <div
          class="demo-spacing-0 d-flex justify-content-between m-1"
          dir="rtl"
      >
        <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="primary"
            @click="filterOpen = !filterOpen"
        >
          <feather-icon
              size="16"
              icon="FilterIcon"
          />
          فیلتر
        </b-button>
        <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="info"
            v-b-modal.admin-modal
        >
          <feather-icon
              size="16"
              icon="UserPlusIcon"
          />
          افزودن مدیر
        </b-button>
      </div>

      <div class="relative-over-x">
        <b-table
            ref="refUserListTable"
            :items="items"
            :small="true"
            responsive
            :fields="columns"
            primary-key="id"
            show-empty
            empty-text="اطلاعاتی یافت نشد"
            no-local-sort
            class="text-nowrap"
            style="min-height : 235px"
            @sort-changed="sort($event)"
        >
          <template #cell(action)="{item}">
            <template>
              <b-dropdown
                  id="dropdown-offset"
                  variant="link"
                  no-caret
                  offset="80px"
                  :right="true"
              >
                <template #button-content>
                  <feather-icon
                      icon="MoreVerticalIcon"
                      size="16"
                      class="align-middle text-body"
                  />
                </template>
                <b-dropdown-item
                    @click="openEditModal(item)"
                >
                  <feather-icon icon="EditIcon"/>
                  <span class="align-middle ml-50">ویرایش</span>
                </b-dropdown-item>
                <b-dropdown-item @click="handleDelete(item.id)">
                  <feather-icon icon="Trash2Icon" class="text-danger"/>
                  <span class="align-middle ml-50 text-danger">حذف</span>
                </b-dropdown-item>

              </b-dropdown>
            </template>
            <!--            <not-allowed v-else />-->
          </template>
        </b-table>
      </div>

      <!-- pagination -->
      <div
          class="demo-spacing-0 d-flex justify-content-between m-1"
          dir="rtl"
      >
        <b-pagination

            v-model="currentPage"
            :per-page="+perPage"
            :total-rows="rows"
            first-number
            last-number
            prev-class="prev-item"
            next-class="next-item"
            align="left"
            @input="getData(currentPage,perPage)"
        >
          <template #prev-text>
            <feather-icon
                icon="ChevronRightIcon"
                size="18"
            />
          </template>
          <template #next-text>
            <feather-icon
                icon="ChevronRightIcon"
                size="18"
            />
          </template>
        </b-pagination>
        <div>
          <v-select
              id="per-page"
              v-model="perPage"
              dir="rtl"
              :options="perPageOptions"
              :clearable="false"
              class="per-page-selector d-inline-block mx-50"
              style="min-width: 85px"
              @input="getData(1,perPage)"
          />
          <label>تعداد در صفحه</label>
        </div>
      </div>
    </b-overlay>
    <FilterSidebar
        :is-active.sync="filterOpen"
        @reset="handleReset"
        @filtered="handleFiltered"
    />
  </b-card>
</template>

<script>
import {
  BPagination,
  BCard,
  BButton,
  BTable,
  BDropdown,
  BDropdownItem,
  BOverlay,
  BModal,
  BFormInput
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import '@/@core/scss/vue/libs/vue-select.scss'
import FilterSidebar from "@/views/Admins/FilterSidebar"

export default {
  name: 'AdminAccounts',
  components: {
    BPagination,
    BCard,
    BButton,
    BTable,
    BDropdown,
    BDropdownItem,
    vSelect,
    BOverlay,
    FilterSidebar,
    BModal,
    BFormInput
  },
  data() {
    return {
      selected: {},
      email: '',
      password: '',
      editPassword: '',
      test: 0,
      pageLength: 3,
      dir: false,
      searchTerm: '',
      currentPage: 1,
      perPage: 10,
      rows: 200,
      sortBy: '',
      isSortDirDesc: '',
      userData: [],
      isActive: false,
      addNewIsActive: false,
      perPageOptions: [1, 5, 10, 20, 50, 100],
      items: [],
      filterOpen: false,
      columns: [
        {
          label: 'ایمیل',
          key: 'email',
          sortable: true,
          searchType: 'text',
        },
        {
          label: 'تاریخ ساخت اکانت',
          key: 'created_at',
          sortable: true,
          searchType: 'date',
        },
        // {
        //   label: 'نقش',
        //   key: 'roles[0].display_name',
        //   sortable: true,
        //   searchType: 'select',
        //   selectOptions: [],
        // },
        // {
        //   label: 'وضعیت',
        //   key: 'isActive',
        //   sortable: true,
        //   searchType: 'select',
        //   selectOptions: [
        //     { label: 'غیر فعال', value: false },
        //     { label: 'فعال', value: true },
        //   ],
        // },
        {
          label: 'مدیریت',
          key: 'action',
          sortable: false,
        },
      ],
    }
  },
  mounted() {
    this.getData()
  },
  methods: {
    async handleEdit() {
      const data = new FormData()
      data.append('email', this.email)
      data.append('password', this.editPassword)
      this.state.loading = true
      await this.$axios.post(`/admin/${this.selected.id}/edit`, data, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      await this.$alert('ادمین مورد نظر با موفقیت ویرایش شد', 'موفق', 'success', {
        timer: 5000,
        timerProgressBar: true
      })
      await this.getData(this.currentPage, this.perPage)
    },
    openEditModal(item) {
      this.email = item.email
      this.selected = item
      this.$bvModal.show('admin-edit-modal')
    },
    handleFiltered(admins) {
      this.items = admins
    },
    handleDelete(id) {
      this.$bvModal.msgBoxConfirm('آیا از حذف این ادمین اطمینان دارید؟', {
        centered: true,
        cancelTitle: 'خیر',
        okTitle: 'بله',
        cancelVariant: 'outline-danger',
        bodyClass: 'justify-content-center',
        footerClass: 'justify-content-center',
        size: 'sm'
      }).then(async response => {
        if (response) {
          this.state.loading = true
          await this.$axios.delete(`/delete-admin/${id}`, {
            headers: {
              Authorization: `Bearer ${localStorage.getItem('token')}`
            }
          })
          this.state.loading = false
          await this.$alert('ادمین مورد نظر با موفقیت حذف گردید', 'موفق', 'success', {
            timer: 5000,
            timerProgressBar: true
          })
          this.$bvModal.hide('admin-modal')
          await this.getData()
        }
      })

    },
    handleReset() {
      // this.getRoles()
      this.getData()
    },
    async handleSubmit() {
      const data = new FormData()
      data.append('email', this.email)
      data.append('password', this.password)
      this.state.loading = true
      const response = await this.$axios.post('create-admin', data, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      if (response.data.success) {
        this.loading = false
        await this.getData()
        await this.$alert('عملیات موفق آمیر بود', 'موفق', 'success', {
          timer: 5000,
          timerProgressBar: true
        })
      }
    },
    changeStatus(e) {
      // console.log(this.items[e].status)
      this.$swal({
        title: 'آیا از تغییر وضعیت مدیر مطمعن هستید؟',
        // text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'بله',
        cancelButtonText: 'خیر',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(async result => {
        if (result.value) {
          // console.warn('change active')
          const address = `/admins/${this.items[e].isActive ? 'de' : ''}activate/${this.items[e].id}`
          const res = await this.$axios.post(address)

          this.items[e].isActive = !res.data.message.includes('Deactivated')

          await this.getData(this.currentPage, this.perPage)

          this.$swal({
            icon: 'success',
            title: this.items[e].isActive ? 'مدیر فعال شد' : 'مدیر غیر فعال شد',
            confirmButtonText: 'تایید',
            // text: 'Your file has been deleted.',
            customClass: {
              confirmButton: 'btn btn-success',
            },
          })
        }
      })
    },

    sort(e) {
      // console.log(e)

      const sort = this.$toSnakeCase(e.sortBy)
      // let sort = e.sortBy
      const sorting = e.sortDesc ? 'DESC' : 'ASC'

      this.$router.push({
        query: {
          ...this.$route.query,
          orderBy: sort,
          sorting,
        },
      })

      this.getData(1, this.perPage)
    },
    // async getRoles() {
    //   // const res = await this.$axios('/role')
    //   // const allRoles = []
    //   // for (const object of res.data.content) {
    //   //   allRoles.push({
    //   //     label: object.persianName,
    //   //     value: object.englishName,
    //   //   })
    //   // }
    //   // this.columns[5].selectOptions = allRoles
    //   // console.log('aaaaa', this.columns[5])
    // },

    async getData(page, perPage) {
      this.state.loading = true
      const res = await this.$axios.get('all-admins', {
        params: {
          perPage,page
        },
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      // console.log(res.data.data)
      this.items = res.data.admins.data
      this.currentPage = res.data.admins.current_page
      this.rows = res.data.admins.total

      this.state.loading = false
    },
    async getAdmins(perPage) {
      this.state.loading = true
      const response = await this.$axios.get('all-admins', {
        params: {
          perPage
        },
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      this.items = response.data.admins.data
      this.currentPage = response.data.current_page
      this.rows = response.data.total
      this.state.loading = false
    },

  },
}
</script>
<style lang="scss">
[v-cloak] {
  opacity: 0;
}

[dir="rtl"] .test-badge {
  font-size: 10px;
  top: -6px;
  left: -5px !important;
  min-width: 16px;
  min-height: 16px;
}
</style>
