<template>
  <b-sidebar
      id="search-and-filter-sidebar"
      :visible="isActive"
      bg-variant="white"
      sidebar-class="sidebar-lg"
      shadow
      backdrop
      no-header
      right
      @change="(val) => $emit('update:is-active', val)"
  >
    <template #default="{ hide }">
      <!-- Header -->
      <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
        <h5 class="mb-0">
          فیلتر
        </h5>

        <feather-icon
            class="ml-1 cursor-pointer"
            icon="XIcon"
            size="16"
            @click="hide"
        />

      </div>

      <!-- Form -->
      <b-form
          class="p-2"
          @submit.prevent="filter"
          @reset.prevent="resetValue"
      >
        <label>ایمیل</label>
        <b-form-input id="email" type="text" v-model="email"/>
        <br>
        <label>تاریخ ساخت اکانت</label>
        <vue-persian-datetime-picker v-model="date"/>
        <!-- Form Actions -->
        <div class="d-flex mt-2">
          <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="primary"
              class="mr-2"
              type="submit"
              :disabled="state.loading"
          >
            فیلتر
          </b-button>
          <b-button
              v-ripple.400="'rgba(199,186,186,0.15)'"
              type="reset"
              variant="outline-danger"
              class="mr-2"
              :disabled="state.loading"
          >
            حذف فیلتر
          </b-button>
          <b-button
              v-ripple.400="'rgba(186, 191, 199, 0.15)'"
              type="button"
              variant="outline-secondary"
              @click="hide"
          >
            بازگشت
          </b-button>
        </div>
      </b-form>
    </template>
  </b-sidebar>
</template>

<script>
import {
  BSidebar, BForm, BButton, BFormInput
} from 'bootstrap-vue'
import FeatherIcon from "@core/components/feather-icon/FeatherIcon"
import VuePersianDatetimePicker from "vue-persian-datetime-picker"

export default {
  name: "FilterSidebar",
  components: {
    BSidebar,
    BForm,
    BButton,
    BFormInput,
    FeatherIcon,
    VuePersianDatetimePicker
  },
  data() {
    return {
      email: '',
      date: ''
    }
  },
  model: {
    prop: 'isActive',
    event: 'update:is-active',
  },
  props: {
    isActive: {
      required: true,
      type: Boolean
    }
  },
  methods: {
    async filter() {
      const data = new FormData()
      data.append('date', this.date)
      data.append('email', this.email)
      this.state.loading = true
      const response = await this.$axios.post('/admin-filter', data, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      this.state.loading = false
      this.$emit('filtered', response.data.admins)
    },
    resetValue() {
      this.$emit('reset')
    }
  }
}
</script>

<style scoped>

</style>
