<template>
  <b-sidebar
      id="search-and-filter-sidebar"
      :visible="isActive"
      bg-variant="white"
      sidebar-class="sidebar-lg"
      shadow
      backdrop
      no-header
      right
      @change="(val) => $emit('update:is-active', val)"
  >
    <template #default="{ hide }">
      <!-- Header -->
      <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
        <h5 class="mb-0">
          فیلتر
        </h5>

        <feather-icon
            class="ml-1 cursor-pointer"
            icon="XIcon"
            size="16"
            @click="hide"
        />

      </div>

      <!-- Form -->
      <b-form
          class="p-2"
          @submit.prevent="Filter"
          @reset.prevent="resetValue"
          @input="checkParam"
          @change="checkParam"
      >
        <label>نام</label>
        <b-form-input id="firstname" type="text" v-model="form.firstname"/>
        <br>
        <label>نام خانوادگی</label>
        <b-form-input id="lastname" type="text" v-model="form.lastname"/>
        <br>
        <label>ایمیل</label>
        <b-form-input id="email" type="email" v-model="form.email"/>
        <br>
        <label>تلفن همراه</label>
        <b-form-input type="text" id="mobile" v-model="form.mobile"/>
        <br>
        <label>بازه زمانی</label>
        <vue-persian-datetime-picker range v-model="form.date" class="col-12"/>
        <br>
        <label>موجودی کیف پول</label>
        <b-form-input type="text" id="balance" v-model="form.balance"/>
        <br>
        <label>احراز هویت</label>
        <div class="cursor-pointer">
          <v-select :options="config" direction="top" v-model="form.status"/>
        </div>
        <!-- Form Actions -->
        <div class="d-flex mt-2">
          <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="primary"
              class="mr-2"
              type="submit"
              :disabled="state.loading"
          >
            <span>فیلتر</span>
          </b-button>
          <b-button
              v-ripple.400="'rgba(199,186,186,0.15)'"
              type="reset"
              variant="outline-danger"
              class="mr-2"
              :disabled="state.loading"
          >
            حذف فیلتر
          </b-button>
          <b-button
              v-ripple.400="'rgba(186, 191, 199, 0.15)'"
              type="button"
              variant="outline-secondary"
              @click="hide"
          >
            بازگشت
          </b-button>
        </div>

      </b-form>
    </template>
  </b-sidebar>
</template>

<script>
import {
  BSidebar,
  BForm,
  // BFormGroup,
  BFormInput,
  BButton,
  // BInputGroup,
  // BFormCheckbox,
  // BInputGroupPrepend,
  // BInputGroupAppend,
  // BDropdown,
  // BDropdownItem
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import '@core/scss/vue/libs/vue-select.scss'
// import flatPickr from 'vue-flatpickr-component'
// import Cleave from 'vue-cleave-component'
import VuePersianDatetimePicker from "vue-persian-datetime-picker"

export default {
  name: 'SearchAndFilter',
  components: {
    BSidebar,
    BForm,
    // BFormGroup,
    BFormInput,
    BButton,
    VuePersianDatetimePicker,
    // flatPickr,
    // BInputGroup,
    // BFormCheckbox,
    // BInputGroupPrepend,
    // BInputGroupAppend,
    // BDropdown,
    // BDropdownItem,
    vSelect,
    // Cleave,
  },
  model: {
    prop: 'isActive',
    event: 'update:is-active',
  },
  props: {
    isActive: {
      type: Boolean,
      required: true,
    },
    options: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      userData: [],
      selectValue: [],
      fromValue: [],
      toValue: [],
      queryFilter: {},
      keyValue: 0,
      number: '',
      selected: '',
      cleaveOptions: {
        // date: {
        //     // date: true,
        //     blocks: [4, 2, 2],
        //     delimiter: '-',
        //     delimiterLazyShow: true
        //     // dateMin: '2000-01-01',
        //     // dateMax: '2099-12-31',
        //     // datePattern: ['Y', 'm', 'd'],
        // },
        number: {
          numeral: true,
        },
      },
      notMatch: [],
      rangeDate: null,
      config: [
        {
          label: 'تکمیل نشده',
          value: 'not_complete'
        },
        {
          label: 'در انتظار تایید',
          value: 'processing'
        },
        {
          label: 'تایید شده',
          value: 'confirmed'
        },
        {
          label: 'رد شده',
          value: 'reject'
        }
      ],
      form: {
        firstname: '',
        lastname: '',
        email: '',
        mobile: '',
        date: '',
        balance: '',
        status: ''
      }
    }
  },
  mounted() {
    this.resetForm()
    this.getQuery()
    this.checkParam()
  },
  methods: {
    parsValue(e) {
      this.queryFilter[e] = this.queryFilter[e].replace(/,/ig, '')
    },
    getQuery() {
      this.queryFilter = {...this.$route.query}
    },
    checkParam() {
      // for (const e in this.queryFilter) if (typeof this.queryFilter[e] !== 'boolean' && (!this.queryFilter[e] || this.queryFilter[e] == '0')) delete this.queryFilter[e]
    },
    resetForm() {
      // let index = 0
      // for (const e of this.options) {
      //   if (['date', 'number'].includes(e.searchType)) {
      //     this.queryFilter[`${e.key}From`] = ''
      //     this.queryFilter[`${e.key}To`] = ''
      //     this.notMatch[index] = true
      //   } else this.queryFilter[e.key] = ''
      //   index++
      // }
    },
    resetValue() {
      this.resetForm()
      this.queryFilter = {}
      this.$router.push({query: ''})
      this.$emit('reset')
    },
    changeMatch(key, value, index) {
      if (!value) {
        this.toValue[index] = ''
        this.setParam(`${key}To`, this.toValue[index])
      }
      this.setParam(`${key}IsMatch`, !value)
    },
    setParam(key, value) {
      if (typeof value === 'boolean' || value.length) {
        this.queryFilter[key] = typeof value !== 'boolean' ? value.replace(/,/ig, '') : value
      } else {
        delete this.queryFilter[key]
      }
    },
    async Filter() {
      this.state.loading = true
      try {
        const response = await this.$axios.post('filter-users', {
          firstname: this.form.firstname,
          lastname: this.form.lastname,
          email: this.form.email,
          mobile: this.form.mobile,
          date: this.form.date,
          balance: this.form.balance,
          status: this.form.status.value
        }, {
          headers: {
            Authorization: `Bearer ${localStorage.getItem('token')}`
          }
        })
        if (response.status !== 200) {
          await this.$alert('مشکلی رخ داده است', 'خطا', 'error', {
            icon: 'error',
            timer: 5000,
            timerProgressBar: true
          })
          return false
        }
        this.$emit('newUsers', {users: response.data.users})
      } catch (err) {
        // console.log(err)
      }
      this.state.loading = false
    },
  },
}
</script>

<style lang="scss">
#add-new-user-sidebar {
  .vs__dropdown-menu {
    max-height: 200px !important;
  }
}

.vpd-main {
  width: calc(100% - var(--prepend-width));

  .vpd-input-group {
    label {
      display: none;
    }

    .form-control {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

/*.input-group-prepend {*/
/*    .v-select {*/
/*        .vs__dropdown-toggle {*/
/*            border-top-right-radius: 0;*/
/*            border-bottom-right-radius: 0;*/
/*            padding-bottom: 0;*/
/*            height: 100%;
        /*}*/
/*}*/
/*}*/
</style>
