<template>
  <b-card
      class="blog-edit-wrapper"
  >
    <!-- media -->
    <!--    <b-media-->
    <!--        no-body-->
    <!--        vertical-align="center"-->
    <!--    >-->
    <!--      <b-media-aside class="mr-75">-->
    <!--        <b-avatar-->
    <!--            size="38"-->
    <!--            :src="blogEdit.avatar"-->
    <!--        />-->
    <!--      </b-media-aside>-->
    <!--      <b-media-body>-->
    <!--        <h6 class="mb-25">-->
    <!--          {{ state.firstName }}-->
    <!--        </h6>-->
    <!--        <b-card-text>{{ blogEdit.createdTime }}</b-card-text>-->
    <!--      </b-media-body>-->
    <!--    </b-media>-->
    <!--/ media -->

    <!-- form -->
    <b-form class="mt-2">
      <b-row>
        <b-col md="6">
          <b-form-group
              label="عنوان"
              label-for="blog-edit-title"
              class="mb-2"
          >
            <b-form-input
                id="blog-edit-title"
                ref="title"
                v-model="post.title"
                :state="post.title !== null"
            />
            <b-form-invalid-feedback>
              {{ errorMsg.title }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col md="6">
          <b-form-group
              label="دسته بندی"
              label-for="blog-edit-category"
              class="mb-2"
              ref="category"
          >
            <v-select
                id="blog-edit-category"
                v-model="post.category"
                dir="rtl"
                :options="categoryOption"
            />
          </b-form-group>
        </b-col>
        <b-col md="6">
          <b-form-group
              label="Slug"
              label-for="blog-edit-slug"
              class="mb-2"
          >
            <b-form-input
                id="blog-edit-slug"
                v-model="post.slug"
            />
          </b-form-group>
        </b-col>
        <b-col md="6">
          <b-form-group
              label="وضعیت"
              label-for="blog-edit-category"
              class="mb-2"
          >
            <v-select
                id="blog-edit-category"
                v-model="post.active"
                dir="rtl"
                :options="statusOption"
            />
          </b-form-group>
        </b-col>
        <b-col cols="12">
          <b-form-group
              label="متن"
              label-for="blog-content"
              class="mb-2"
          >
            <quill-editor
                id="blog-content"
                v-model="post.body"
                :options="snowOption"
            />
          </b-form-group>
        </b-col>
        <b-col
            cols="12"
            class="mb-2"
        >
<!--          <div class="border rounded p-2">-->
<!--            <h4 class="mb-1">-->
<!--              عکس پست-->
<!--            </h4>-->
<!--            <b-media-->
<!--                no-body-->
<!--                vertical-align="center"-->
<!--                class="flex-column flex-md-row"-->
<!--            >-->
<!--              <b-media-aside>-->
<!--                <b-img-->
<!--                    ref="refPreviewEl"-->
<!--                    :src="blogFile"-->
<!--                    height="110"-->
<!--                    width="170"-->
<!--                    class="rounded mr-2 mb-1 mb-md-0"-->
<!--                />-->
<!--              </b-media-aside>-->
<!--              <b-media-body>-->
<!--                <small class="text-muted">عکس باید 800*400 با حجم حداکثر 10 مگابایت باشد.</small>-->
<!--                <b-card-text class="my-50">-->
<!--                  <b-link id="blog-image-text">-->
<!--                    {{ blogFile ? blogFile.name : 'banner.jpg' }}-->
<!--                  </b-link>-->
<!--                </b-card-text>-->
<!--                <div class="d-inline-block">-->
<!--                  <b-form-file-->
<!--                      ref="refInputEl"-->
<!--                      v-model="blogFile"-->
<!--                      accept=".jpg, .png, .gif"-->
<!--                      placeholder="Choose file"-->
<!--                      @input="inputImageRenderer"-->
<!--                  />-->
<!--                </div>-->
<!--              </b-media-body>-->
<!--            </b-media>-->
<!--          </div>-->
        </b-col>
        <b-col
            cols="12"
            class="mt-50"
        >
          <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="primary"
              class="mr-1"
              @click="editPost"
          >
            ویرایش پست
          </b-button>
          <b-button
              v-ripple.400="'rgba(186, 191, 199, 0.15)'"
              variant="outline-secondary"
          >
            بازگشت
          </b-button>
        </b-col>
      </b-row>
    </b-form>
    <!--/ form -->
  </b-card>
</template>

<script>
import {
  BCard,
  // BMedia,
  // BCardText,
  // BMediaAside,
  // BMediaBody,
  // BForm,
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  // BImg,
  // BFormFile,
  // BLink,
  BButton,
  BFormInvalidFeedback,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import {quillEditor} from 'vue-quill-editor'
import Ripple from 'vue-ripple-directive'
import {useInputImageRenderer} from '@core/comp-functions/forms/form-utils'
import {ref} from '@vue/composition-api'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

export default {
  name: "editPost",
  components: {
    BCard,
    // BMedia,
    // BCardText,
    // BMediaAside,
    // BMediaBody,
    // BForm,
    // BLink,
    // BImg,
    BRow,
    BCol,
    BButton,
    BFormGroup,
    BFormInput,
    // BFormFile,
    BFormInvalidFeedback,
    vSelect,
    quillEditor,
    // ToastificationContent,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      post: {
        title: null,
        category: null,
        slug: null,
        active: null,
        body: null,
      },
      blogFile: null,
      blogFileSrc: null,
      categoryOption: [],
      statusOption: [{
        label: 'منتشرشده',
        value: 1
      },
        {
          label: 'در حال انتظار',
          value: 0
        }],
      snowOption: {
        theme: 'snow',
      },
      errorMsg: {
        title: ''
      }
    }
  },
  created() {
    // this.$http.get('/blog/list/data/edit').then(res => { this.blogEdit = res.data })
  },
  setup() {
    const refInputEl = ref(null)
    const refPreviewEl = ref(null)

    const {inputImageRenderer} = useInputImageRenderer(refInputEl, base64 => {
      refPreviewEl.value.src = base64
    })

    return {
      refInputEl,
      refPreviewEl,
      inputImageRenderer,
    }
  },
  async mounted() {
    await this.getCategories()
    await this.getPost()
  },
  methods: {
    async getCategories() {
      this.state.loading = true
      const array = []
      const response = await this.$axios('/category')
      response.data.data.map(item => {
        const test = {value: item.id, label: item.name}
        array.push(test)
      })
      this.categoryOption = array
    },
    async editPost() {
      if (!this.validation()) return false

      this.state.loading = true

      let formData = new FormData
      formData.append('image', this.blogFile)
      formData.append('title', this.post.title)
      formData.append('body', this.post.body)
      formData.append('slug', this.post.slug)
      formData.append('active', this.post.active.value)
      formData.append('category_id', this.post.category.value)

      const response = await this.$axios({
        url: `/blog/${this.$route.params.id}/edit`,
        method: 'POST',
        data: formData
      })

      if (response.data.status) {
          await this.getPost()
        this.$swal({
          icon: 'success',
          title: 'عملیات موفق',
          text: response.data.message,
          confirmButtonText: 'متوجه شدم',
          customClass: {
            confirmButton: 'btn btn-success',
          },
        })
      }

    },
    validation() {
      this.errorMsg = {}
      if (!this.post.title) {
        this.$refs.title.focus()
        this.errorMsg.title = 'عنوان پست را بنویسید'
        return false
      }
      if (!this.post.category) {
        let variant = 'danger'
        this.$toast({
          component: ToastificationContent,
          props: {
            title: 'اعتبار سنجی',
            icon: 'BellIcon',
            text: 'لطفا دسته بندی را انتخاب کنید',
            variant,
          },
        })
        return false
      }
      if (!this.post.active) {
        let variant = 'danger'
        this.$toast({
          component: ToastificationContent,
          props: {
            title: 'اعتبار سنجی',
            icon: 'BellIcon',
            text: 'لطفا وضعیت نمایش پست را انتخاب کنید',
            variant,
          },
        })
        return false
      }
      if (!this.post.body) {
        let variant = 'danger'
        this.$toast({
          component: ToastificationContent,
          props: {
            title: 'اعتبار سنجی',
            icon: 'BellIcon',
            text: 'محتوایی پست را بنویسید',
            variant,
          },
        })
        return false
      }
      if (!this.blogFile) {
        let variant = 'danger'
        this.$toast({
          component: ToastificationContent,
          props: {
            title: 'اعتبار سنجی',
            icon: 'BellIcon',
            text: 'لطفا عکس پست را انتخاب نمیایید',
            variant,
          },
        })
        return false
      }
      return true
    },
    async getPost(){
      this.state.loading = true
      let response = await this.$axios(`/blog/${this.$route.params.id}`)
      this.post.title = response.data.title
      this.post.category = {
        value: response.data.category.id,
        label: response.data.category.name
      }
      this.post.slug = response.data.slug
      this.post.body = response.data.content
      this.blogFile = response.data.image
      this.post.active = {
        label: this.activeHandler(response.data.active),
        value: response.data.active
      }
      // this.post.active = {
      //   value: response
      // }
    },
    activeHandler(value) {
        if (value === 1) {
          return 'منتشر شده'
        }
        if (value === 0) {
          return 'در حال انتظار'
        }
    }
  }
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
@import '@core/scss/vue/libs/quill.scss';
@import '@core/scss/vue/pages/page-blog.scss';
</style>


