<template>
  <b-card no-body class="p-1">

    <b-overlay :show="state.loading" rounded="sm">

      <!--      filter and new post section-->
      <div
          class="demo-spacing-0 m-1 d-flex justify-content-between align-items-center"
          dir="rtl"
      >
        <b-button
            variant="primary"
            @click="isActive=true"
        >
          <feather-icon icon="FilterIcon"/>
          فیلتر
        </b-button>

        <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="info"
            @click="$router.push('/create-post')"
        >
          <feather-icon
              size="17"
              icon="FilePlusIcon"
          />
          ساخت پست جدید
        </b-button>

      </div>

      <search-and-filter
          :is-active.sync="isActive"
          :options="columns"
          @filter="getData(1, perPage)"
          @reset="getData(1, perPage)"
      />

      <!--    table-->
      <div class="relative-over-x">
        <b-table
            ref="refUserListTable"
            :small="true"
            responsive
            primary-key="id"
            :fields="columns"
            :items="posts"
            show-empty
            empty-text="اطلاعاتی یافت نشد"
            style="white-space: nowrap; min-height : 235px"
            no-local-sort
        >

          <template #cell(view)="data">
            <b-badge
                pill
                variant="light-info"
                class="text-capitalize"
            >
              {{ data.item.view }}
            </b-badge>
          </template>

          <template #cell(comments_count)="data">
            <b-badge
                pill
                variant="light-warning"
                class="text-capitalize"
            >
              {{ data.item.comments_count }}
            </b-badge>
          </template>

          <template #cell(likes_count)="data">
            <b-badge
                pill
                variant="light-danger"
                class="text-capitalize"
            >
              {{ data.item.likes_count }}
            </b-badge>
          </template>

          <template #cell(likes_count)="data">
            <b-badge
                pill
                variant="light-danger"
                class="text-capitalize"
            >
              {{ data.item.likes_count }}
            </b-badge>
          </template>

          <template #cell(status)="data">
            <div style="max-width: 200px">
              <b-form-select
                  v-model="data.item.status"
                  :options="options"
                  :state="data.item.status !== 0"
                  size="sm"
                  @change="changeStatus(data.item.id)"
              />
            </div>
          </template>

          <template #cell(action)="{item}">

            <b-dropdown
                id="dropdown-offset"
                variant="link"
                no-caret
                offset="80px"
                :right="true"
            >
              <template #button-content>
                <feather-icon
                    icon="MoreVerticalIcon"
                    size="16"
                    class="align-middle text-body"
                />
              </template>

              <b-dropdown-item @click="editPostHandler(item.id)">
                <feather-icon icon="EditIcon"/>
                <span class="align-middle ml-50">ویرایش</span>
              </b-dropdown-item>

              <b-dropdown-item @click="deletePost(item.id)">
                <feather-icon
                    icon="DeleteIcon"
                    badge-classes="badge-info test-badge"
                />
                <span class="align-middle ml-50">حذف</span>
              </b-dropdown-item>

            </b-dropdown>

          </template>
        </b-table>
      </div>

      <!-- pagination -->
      <div
          class="demo-spacing-0 d-flex justify-content-between m-1"
      >
        <b-pagination
            v-model="currentPage"
            :per-page="perPage"
            :total-rows="rows"
            first-number
            last-number
            prev-class="prev-item"
            next-class="next-item"
            align="left"
            @input="getPosts(currentPage,perPage)"
        >
          <template #prev-text>
            <feather-icon
                icon="ChevronRightIcon"
                size="18"
            />
          </template>
          <template #next-text>
            <feather-icon
                icon="ChevronRightIcon"
                size="18"
            />
          </template>
        </b-pagination>
        <div>
          <v-select
              id="perpage"
              v-model="perPage"
              dir="rtl"
              :options="perPageOptions"
              :clearable="false"
              class="per-page-selector d-inline-block mx-50"
              style="min-width: 85px"
              @input="getPosts(perPage, currentPage)"
          />
          <label>تعداد در صفحه</label>
        </div>
      </div>

    </b-overlay>

  </b-card>
</template>

<script>
import {
  BCard,
  BOverlay,
  BButton,
  BTable,
  BPagination,
  BDropdown,
  BDropdownItem,
  BBadge,
  BFormSelect,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import SearchAndFilter from '@/layouts/components/SearchAndFilter.vue'

export default {
  name: "Posts",
  components: {
    BCard,
    BOverlay,
    BButton,
    BTable,
    BDropdown,
    BDropdownItem,
    BPagination,
    BBadge,
    BFormSelect,
    SearchAndFilter,
    vSelect
  },
  data() {
    return {
      posts: [],
      columns: [
        {
          label: 'عنوان',
          key: 'title',
          sortable: false,
          searchType: 'text',
        },
        {
          label: 'دسته بندی',
          key: 'category',
          sortable: false,
          searchType: 'text',
        },
        {
          label: 'تعداد بازدید',
          key: 'view',
          sortable: false,
          searchType: 'text',
        },
        {
          label: 'تعداد نظرات',
          key: 'comments_count',
          sortable: false,
          searchType: 'text',
        },
        {
          label: 'تعداد لایکها',
          key: 'likes_count',
          sortable: false,
          searchType: 'text',
        },
        {
          label: 'نام نویسنده',
          key: 'author',
          sortable: false,
          searchType: 'text',
        },
        {
          label: 'وضعیت',
          key: 'status',
          sortable: false,
          searchType: 'text',
        },
        {
          label: 'تاریخ انتشار',
          key: 'jalali_published_at_date',
          sortable: false,
          searchType: 'text',
        },
        {
          label: 'تاریخ ساخت',
          key: 'jalali_created_at_date',
          sortable: false,
          searchType: 'text',
        },
        {
          label: 'مدیریت',
          key: 'action',
        },
      ],
      options: [
        {value: 0, text: 'غیر فعال'},
        {value: 1, text: 'فعال'},
      ],
      statusHandler: {
        1: {name: 'فعال', color: 'success'},
        0: {name: 'غیرفعال', color: 'danger'},
      },
      currentPage: 1,
      perPage: 10,
      rows: 20,
      perPageOptions: [10, 25, 50, 100, 250],
      isActive: false,
    }
  },
  mounted() {
    this.getPosts()
  },
  methods: {
    async getPosts(perPage, currentPage) {
      this.state.loading = true

      const queryParams = {
        per_page: perPage,
        page: currentPage,
      }

      const response = await this.$axios.get('/blog', {
        params: queryParams,
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      this.posts = response.data.data
      this.rows = response.data.pagination.total_pages
      this.perPage = response.data.pagination.per_page
      this.currentPage = response.data.pagination.current_page

    },
    async changeStatus(id) {
      this.state.loading = true
      const response = await this.$axios(
          `blog/${id}/published`,
      )

      if (response.data.status) {
        this.$swal({
          icon: 'success',
          title: 'عملیات موفق',
          text: response.data.message,
          confirmButtonText: 'متوجه شدم',
          customClass: {
            confirmButton: 'btn btn-success',
          },
        })
      }
    },
    editPostHandler(id) {
      this.$router.push(`/edit-post/${id}`)
    },
    async deletePost(id) {
      this.deleteModal = ''
      this.$bvModal
          .msgBoxConfirm('آیا میخواهید این پست را حذف کنید؟', {
            title: 'لطفا تایید کنید',
            size: 'sm',
            okVariant: 'primary',
            okTitle: 'بله',
            cancelTitle: 'خیر',
            cancelVariant: 'outline-secondary',
            hideHeaderClose: false,
            centered: true,
          })
          .then(async value => {
            if (value === true) {
              this.state.loading = true

              const response = await this.$axios({
                url: `/blog/${id}`,
                method: 'DELETE'
              })
              if (response.data.status) {
                await this.getPosts(this.perPage, this.currentPage)
                this.$swal({
                  icon: 'success',
                  title: 'عملیات موفق',
                  text: response.data.message,
                  confirmButtonText: 'متوجه شدم',
                  customClass: {
                    confirmButton: 'btn btn-success',
                  },
                })
              }
            }
          })
    }
  }
}
</script>

<style scoped>

</style>
