<template>
  <b-card>
    <b-overlay :show="loading">
      <b-card-body>
        <b-form>
          <b-row style="align-items: center">
            <label style="margin-bottom: 0 !important;">
              <img src="https://img.icons8.com/color/48/000000/telegram-app--v1.png" width="30" alt=""/>
              تلگرام
            </label>
            <b-form-input type="text" class="col-md-5 ml-1" v-model="telegram"/>
            <hr>
            <label style="margin-bottom: 0 !important;">
              <img src="https://img.icons8.com/fluency/30/000000/instagram-new.png" alt="" />
              اینستاگرام
            </label>
            <b-form-input type="text" class="col-md-5 ml-1" v-model="instagram"/>
          </b-row>
          <br>
          <b-row style="align-items: center">
            <label style="margin-bottom: 0 !important;">
              <img src="https://img.icons8.com/color/30/000000/twitter--v1.png" alt=""/>
              توییتر
            </label>
            <b-form-input type="text" class="col-md-5 ml-1" v-model="twitter"/>
            <hr>
            <label style="margin-bottom: 0 !important;">
              <img src="https://img.icons8.com/color/30/000000/whatsapp--v5.png" alt="" style="margin-left: 7px;"/>
              {{ ' ' }}
              واتس اپ
            </label>
            <b-form-input type="text" class="col-md-5 ml-1" v-model="whatsapp"/>
          </b-row>
          <br>
          <b-row style="align-items: center">
            <label style="margin-bottom: 0 !important;">
              <img src="https://img.icons8.com/color/30/000000/linkedin.png" alt=""/>
              لینکدین
            </label>
            <b-form-input type="text" class="col-md-4 ml-1" v-model="linkedIn"/>
          </b-row>
        </b-form>
      </b-card-body>
      <b-card-footer>
        <div style="display: flex; justify-content: center">
          <b-button variant="primary" @click="handleSubmit">
            تایید
          </b-button>
          <b-button variant="outline-danger" class="ml-1" @click="handleCancel">
            بازگشت
          </b-button>
        </div>
      </b-card-footer>
    </b-overlay>
  </b-card>
</template>

<script>
import {BCard, BRow, BFormInput, BForm, BCardFooter, BButton, BCardBody, BOverlay} from 'bootstrap-vue'

export default {
  name: "SocialNetwork.vue",
  components: {
    BCard, BRow, BFormInput, BForm, BCardFooter, BButton, BCardBody, BOverlay
  },
  data() {
    return {
      telegram: null,
      instagram: null,
      whatsapp: null,
      linkedIn: null,
      twitter: null,
      loading: false
    }
  },
  mounted() {
    this.getSocial()
  },
  methods: {
    async getSocial() {
      this.loading = true
      const response = await this.$axios.get('/social-network', {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      this.telegram = response.data.telegram
      this.instagram = response.data.instagram
      this.whatsapp = response.data.whatsapp
      this.linkedIn = response.data.linkedIn
      this.twitter = response.data.twitter
      this.loading = false
    },
    async handleSubmit() {
      const data = new FormData()
      data.append('telegram', this.telegram)
      data.append('instagram', this.instagram)
      data.append('whatsapp', this.whatsapp)
      data.append('linkedIn', this.linkedIn)
      data.append('twitter', this.twitter)
      this.loading = true
      const response = await this.$axios.post('/social-network', data, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      if (response.data.success) {
        await this.$alert('لینک های مورد نظر با موفقیت ثبت شدند', 'موفق', 'success', {
          timer: 5000,
          timerProgressBar: true
        })
      }

      await this.getSocial()
    },
    handleCancel() {
      this.$router.back()
    }
  }
}
</script>

<style>

</style>

