<template>
  <b-overlay :show="state.loading">
    <b-card title="حساب های وارد شده">
      <b-table
          ref="refUserListTable"
          :small="true"
          responsive
          primary-key="id"
          :fields="columns"
          :items="bankAccounts"
          show-empty
          empty-text="اطلاعاتی یافت نشد"
          style="white-space: nowrap; min-height : 235px"
          no-local-sort
      >

        <template #cell(status)="data">
          <div style="max-width: 200px">
            <b-form-select
                v-model="data.item.status"
                :options="options"
                size="sm"
                @change="changeStatus(data.item.id, data.item.status)"
            />
          </div>
        </template>

        <template #cell(action)="{item}">

          <b-dropdown
              id="dropdown-offset"
              variant="link"
              no-caret
              offset="80px"
              :right="true"
          >
            <template #button-content>
              <feather-icon
                  icon="MoreVerticalIcon"
                  size="16"
                  class="align-middle text-body"
              />
            </template>

            <b-dropdown-item @click="editPostHandler(item.id)">
              <feather-icon icon="EditIcon"/>
              <span class="align-middle ml-50">ویرایش</span>
            </b-dropdown-item>

          </b-dropdown>

        </template>

      </b-table>
    </b-card>
  </b-overlay>
</template>

<script>
import {
  BCard,
  BTable,
  BFormSelect,
  BDropdown,
  BDropdownItem,
  BOverlay
} from "bootstrap-vue"
// import NotAllowed from "@/layouts/components/NotAllowed";

export default {
  name: "BankAccounts",
  components: {
    // NotAllowed,
    BCard,
    BTable,
    BFormSelect,
    BDropdown,
    BDropdownItem,
    BOverlay
    // BForm,
    // BFormGroup,
    // BFormInput,
    // BRow,
    // BCol,
    // BButton,
    // BBadge,
  },
  props: ['bankAccounts', 'check', 'auth'],
  data() {
    return {
      columns: [
        {
          label: 'شماره حساب',
          key: 'card_number',
          sortable: false,
          searchType: 'text',
        },
        {
          label: 'شماره کارت',
          key: 'card_number',
          sortable: false,
          searchType: 'text',
        },
        {
          label: 'شماره شبا',
          key: 'shaba_number',
          sortable: false,
          searchType: 'text',
        },
        {
          label: 'وضعیت',
          key: 'status',
          sortable: false,
          searchType: 'text',
        },
        {
          label: 'تاریخ ساخت',
          key: 'crated_at',
          sortable: false,
          searchType: 'text',
        }
      ],
      options: [
        {value: 'confirm', text: 'تایید شده'},
        {value: "process", text: 'در انتظار تایید'},
        {value: "reject", text: 'رد شده'},
      ],
    }
  },
  watch: {},
  computed: {
    statusColor() {
      const a = {
        APPROVED: 'success',
        FAILED: 'danger',
        PENDING: 'warning',
      }
      return e => a[e]
    },
    statusTitle() {
      const a = {
        APPROVED: 'تایید شده',
        FAILED: 'رد شده',
        PENDING: 'در انتظار بررسی',
      }
      return e => a[e]
    },
  },
  methods: {
    async checkAccount(e) {
      this.$emit('checkAccount', e)
    },
    async changeStatus(id, status) {
      this.state.loading = true
      let response = await this.$axios.post(`/panel/bank-account/${id}/change-status`, {status: status}, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      if (response.data.status) {
        this.$swal({
          icon: 'success',
          title: 'عملیات موفق',
          text: response.data.message,
          confirmButtonText: 'متوجه شدم',
          customClass: {
            confirmButton: 'btn btn-success',
          },
        })
      }
      else if (!response.data.status) {
        await this.$emit('error')
        this.$swal({
          icon: 'error',
          title: 'خطا',
          text: response.data.message,
          confirmButtonText: 'متوجه شدم',
          customClass: {
            confirmButton: 'btn btn-success',
          },
        })
      }
    }
  }
}
</script>

<style scoped>

.bankAccount {
  border-radius: 0.428rem;
}

.rotate {
  animation: rotate 1s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg)
  }
}

</style>
