<template>
  <div>
    <!-- Alert: No item found -->
    <b-alert
        variant="danger"
        :show="user === undefined"
    >
      <h4 class="alert-heading">
        خطا در برقراری ارتباط
      </h4>
      <div class="alert-body">
        کاربری با این شماره پیدا نشد. برای دیدن کاربران به بخش
        <b-link
            class="alert-link"
            :to="{ name: 'users'}"
        >
          لیست کاربران
        </b-link>
        مراجعه فرمایید.
      </div>
    </b-alert>

    <template v-if="user">
      <!-- First Row -->
      <b-row>
        <b-col
            cols="12"
            xl="9"
            lg="8"
            md="7"
        >
          <b-overlay :show="state.loading">
            <user-view-user-info-card :user-data="user"/>
          </b-overlay>

        </b-col>
      </b-row>

      <b-row>
        <b-col
            cols="12"
            lg="12"
        >
          <bank-accounts
              :bank-accounts="user.user_bank_account"
              @error="getUserData"
          />
        </b-col>

      </b-row>

      <b-row>
        <b-col cols="12" lg="12">
          <b-overlay :show="state.loading">
            <b-card title="تصویر مدارک کاربر">
              <b-card-body>
                <div style="display: flex; justify-content: center">
                  <img
                      :src="user.NC_image"
                      style="width: 300px"
                      draggable="false"
                      alt=""
                      onerror="this.src='https://wallpaperaccess.com/full/2022181.jpg'; document.getElementById('footer').hidden = true "
                  >
                </div>
                <div v-if="user.NC_image == null" style="display: flex; justify-content: center">
                  <h3>تصویری آپلود نشده است</h3>
                </div>
              </b-card-body>
            </b-card>
          </b-overlay>
        </b-col>
      </b-row>
    </template>
  </div>
</template>

<script>
import {
  BRow,
  BCol,
  BAlert,
  BLink,
  BOverlay,
  BCardBody,
  BCard,
} from 'bootstrap-vue'

// import InvoiceList from '@/views//invoice/invoice-list/InvoiceList.vue'
// import userStoreModule from '../userStoreModule'
import UserViewUserInfoCard from './UserViewUserInfoCard.vue'
// import UserViewUserPlanCard from './UserViewUserPlanCard.vue'
// import UserViewUserTimelineCard from './UserViewUserTimelineCard.vue'
// import UserViewUserPermissionsCard from './UserViewUserPermissionsCard.vue'
import BankAccounts from "@/views/Users/users-view/BankAccounts"

// import axiosIns from '@/libs/axios'

export default {
  components: {
    BRow,
    BCol,
    BAlert,
    BLink,
    BOverlay,
    BankAccounts,
    BCardBody,
    BCard,
    UserViewUserInfoCard,
  },
  data() {
    return {
      user: {},
      user_id: this.$route.params.id,
    }
  },
  mounted() {
    this.getUserData()
  },
  methods: {
    async getUserData() {
      this.state.loading = true
      const response = await this.$axios(`/admin-panel/users/${this.$route.params.id}`, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      this.user = response.data
      this.state.loading = false
    },
  },
  // setup() {
  //   const userData = ref(null)
  //
  //   const USER_APP_STORE_MODULE_NAME = 'app-user'
  //
  //   // Register module
  //   if (!store.hasModule(USER_APP_STORE_MODULE_NAME)) store.registerModule(USER_APP_STORE_MODULE_NAME, userStoreModule)
  //
  //   // UnRegister on leave
  //   onUnmounted(() => {
  //     if (store.hasModule(USER_APP_STORE_MODULE_NAME)) store.unregisterModule(USER_APP_STORE_MODULE_NAME)
  //   })
  //
  //   store.dispatch('app-user/fetchUser', { id: router.currentRoute.params.id })
  //     .then(response => { userData.value = response.data })
  //     .catch(error => {
  //       if (error.response.status === 404) {
  /*        userData.value = undefined */
  //       }
  //     })
  //
  //   return {
  //     userData,
  //   }
  // },
}
</script>

<style>

</style>
