<template>
  <b-card>
    <b-row>
      <!-- User Info: Left col -->
      <b-overlay :show="state.loading">
        <b-col
            cols="21"
            xl="6"
            class="d-flex justify-content-between flex-column"
        >
          <!-- User Avatar & Action Buttons -->
          <div class="d-flex justify-content-start">
            <b-avatar
                :src="userData.profile_image ? userData.profile_image : null"
                :variant="`light-primary`"
                size="104px"
                rounded
            />
            <div class="d-flex flex-column ml-1">
              <div class="mb-1">
                <h4 class="mb-0">
                  {{ userData.first_name }}
                </h4>
                <span class="card-text">{{ userData.email }}</span>
              </div>
              <div class="d-flex flex-wrap">
                <b-button
                    id="activate-button"
                    variant="outline-success"
                    class="ml-1"
                    @click="activateUser"
                    v-if="userData.account_status !== 'confirmed'"
                >
                  تایید هویت کاربر
                </b-button>
                <b-button class="ml-1" variant="outline-danger" v-if="userData.account_status === 'confirmed'"
                          @click="deactivateUser">
                  غیر فعال کردن کاربر
                </b-button>
              </div>
            </div>
          </div>

        </b-col>
      </b-overlay>

      <!-- Right Col: Table -->
      <b-col
          cols="12"
          xl="6"
      >
        <table class="mt-2 mt-xl-0 w-100">
          <tr>
            <th class="pb-50">
              <feather-icon
                  icon="UserIcon"
                  class="mr-75"
              />
              <span class="font-weight-bold">نام و نام خانوادگی</span>
            </th>
            <td class="pb-50">
              {{ userData.first_name + ' ' + userData.last_name }}
            </td>
          </tr>
          <tr>
            <th class="pb-50">
              <feather-icon
                  icon="PhoneCallIcon"
                  class="mr-75"
              />
              <span class="font-weight-bold">تلفن</span>
            </th>
            <td class="pb-50">
              {{ userData.phone === null ? 'ثبت نشده' : userData.phone }}
            </td>
          </tr>
          <tr>
            <th class="pb-50">
              <feather-icon
                  icon="SmartphoneIcon"
                  class="mr-75"
              />
              <span class="font-weight-bold">تلفن همراه</span>
            </th>
            <td class="pb-50">
              {{ userData.mobile !== null ? userData.mobile : 'ثبت نشده' }}
            </td>
          </tr>
          <tr>
            <th class="pb-50">
              <feather-icon
                  icon="CalendarIcon"
                  class="mr-75"
              />
              <span class="font-weight-bold">تاریخ تولد</span>
            </th>
            <td class="pb-50 text-capitalize">
              {{ userData.date_of_birth_day || 'ثبت نشده' }}
            </td>
          </tr>
          <tr>
            <th class="pb-50">
              <feather-icon
                  icon="UserIcon"
                  class="mr-75"
              />
              <span class="font-weight-bold">کد ملی</span>
            </th>
            <td class="pb-50 text-capitalize">
              {{ userData.national_code }}
            </td>
          </tr>
          <tr>
            <th class="pb-50">
              <feather-icon
                  icon="FlagIcon"
                  class="mr-75"
              />
              <span class="font-weight-bold">احراز هویت</span>
            </th>
            <td class="pb-50">
              <span id="authentication"></span>
              <span v-if="userData.account_status === 'confirmed'">تایید شده</span>
              <span v-if="userData.account_status === 'processing'">در حال بررسی</span>
              <span v-if="userData.account_status === 'reject'">رد شده</span>
            </td>
          </tr>
        </table>
      </b-col>
    </b-row>
  </b-card>
</template>

<script>
import {
  BCard, BButton, BAvatar, BRow, BCol, BOverlay
} from 'bootstrap-vue'
// import { avatarText } from '@core/utils/filter'
// import useUsersList from '../users-list/useUsersList'

export default {
  components: {
    BCard, BButton, BRow, BCol, BAvatar, BOverlay
  },
  props: {
    userData: {
      type: Object,
      required: true,
    },
  },
  methods: {
    async deactivateUser() {
      const id = this.userData.id
      this.state.loading = true
      await this.$axios({
        method: 'post',
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        },
        url: `/user/${id}/deactivate`
      })
          .then(async res => {
            if (res.data.success) {
              this.userData = res.data.user
              await this.$swal({
                icon: 'success',
                title: 'عملیات موفق',
                text: 'کاربر مورد نطر با موفقیت تایید شد',
                confirmButtonText: 'متوجه شدم',
                customClass: {
                  confirmButton: 'btn btn-success',
                },
              })
            }
          })
          .catch(() => {
            this.$swal({
              icon: 'error',
              title: 'خطا',
              text: 'خطایی رخ داده است',
              confirmButtonText: 'متوجه شدم',
              customClass: {
                confirmButton: 'btn btn-success',
              },
            })
          })
    },
    async activateUser() {
      const id = this.userData.id
      this.state.loading = true
      await this.$axios.post(`/user/${id}/activate`, {}, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
          .then(async res => {
            if (res.data.success) {
              this.userData = res.data.user
              await this.$swal({
                icon: 'success',
                title: 'عملیات موفق',
                text: 'کاربر مورد نطر با موفقیت تایید شد',
                confirmButtonText: 'متوجه شدم',
                customClass: {
                  confirmButton: 'btn btn-success',
                },
              })
            }
          })
          .catch(() => {
            this.$swal({
              icon: 'error',
              title: 'خطا',
              text: 'خطایی رخ داده است',
              confirmButtonText: 'متوجه شدم',
              customClass: {
                confirmButton: 'btn btn-success',
              },
            })
          })
    }
  }
}
</script>

<style>

</style>
