<template>
  <div>
    <b-row>

      <b-col lg="12">
        <trading-view/>
      </b-col>

<!--      <b-col lg="12">-->
<!--        <apex-line-chart v-if="false"/>-->
<!--      </b-col>-->

      <b-col
          lg="3"
          sm="6"
      >
        <statistic-card-with-area-chart
            icon="UsersIcon"
            :statistic="footerChartData.users.count"
            statistic-title="کاربران سایت"
            :chart-data="footerChartData.users.series"
        />
      </b-col>

      <b-col
          lg="3"
          sm="6"
      >
        <statistic-card-with-area-chart
            icon="UsersIcon"
            :statistic="footerChartData.requests.count"
            statistic-title="کاربران تایید شده"
            :chart-data="footerChartData.requests.series"
        />
      </b-col>

    </b-row>
  </div>
</template>

<script>
import {BRow, BCol,} from 'bootstrap-vue'
import TradingView from "@/views/Markets/TradingView"
// import StatisticsGroup from "@/views/Markets/StatisticsGroupVol"
// import ApexLineChart from "@/views/Dashboard/ApexLineChart"
import StatisticCardWithAreaChart from "@/views/Dashboard/StatisticCardWithAreaChart"

export default {
  components: {
    BRow,
    BCol,
    TradingView,
    // StatisticsGroup,
    // ApexLineChart,
    StatisticCardWithAreaChart,
  },
  data() {
    return {
      // Area charts
      subscribersGained: {},
      revenueGenerated: {},

      // Line Charts
      siteTraffic: {},
      activeUsers: {},
      newsletter: {},
      footerChartData: {
        trade: {
          count: '',
          series: [{name: " ", data: [0]}]
        },
        orders: {
          count: '',
          series: [{name: " ", data: [0]}]
        },
        users: {
          count: '',
          series: [{name: " ", data: [0]}]
        },
        requests: {
          count: '',
          series: [{name: " ", data: [0]}]
        }
      }
    }
  },
  async mounted() {
      const users = await this.$axios.get('/dashboard/user-count', {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      this.footerChartData.users.count = this.$numFormatter(users.data.analyticsData.users)
      this.footerChartData.users.series = users.data.series

    // if (this.$havePermission('LIST_WITHDRAW')) {
      const requests = await this.$axios('/dashboard/confirm-user-count', {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      this.footerChartData.requests.count = this.$numFormatter(requests.data.analyticsData.users)
      this.footerChartData.requests.series = requests.data.series
    // }
    // if (this.$havePermission('LIST_ORDERS')) {
    //   const orders = await this.$axios('/orders/count')
    //   this.footerChartData.orders.count = this.$numFormatter(orders.data.baseDTO.count)
    //   this.footerChartData.orders.series = [{name: " ", data: orders.data.baseDTO.array}]
    // }
    // if (this.$havePermission('LIST_TRADES')) {
    //   const trade = await this.$axios('/trades/count')
    //   this.footerChartData.trade.count = this.$numFormatter(trade.data.baseDTO.count)
    //   this.footerChartData.trade.series = [{name: " ", data: trade.data.baseDTO.array}]
    // }
  }
}
</script>

<style>

</style>
