<template>
  <b-card>
    <b-overlay :show="state.loading">
      <b-form class="mt-2">
        <b-row>
          <b-col md="6">
            <b-form-group
                label="عنوان"
                label-for="blog-edit-title"
                class="mb-2"
            >
              <b-form-input
                  id="blog-edit-title"
                  ref="title"
                  v-model="contact_us.title"
                  :state="contact_us.title !== null"
              />
              <b-form-invalid-feedback>
                {{ errorMsg.title }}
              </b-form-invalid-feedback>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12">
            <b-form-group
                label="متن"
                label-for="blog-content"
                class="mb-2"
            >
              <quill-editor
                  id="blog-content"
                  v-model="contact_us.text"
                  :options="snowOption"
              />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="6">
            <b-form-group
                label="شماره تماس"
                label-for="blog-edit-title"
                class="mb-2"
            >
              <b-form-input
                  id="blog-edit-title"
                  ref="title"
                  v-model="contact_us.phone"
                  :state="contact_us.phone !== null"
              />
              <b-form-invalid-feedback>
                {{ errorMsg.title }}
              </b-form-invalid-feedback>
            </b-form-group>
          </b-col>
          <b-col md="6">
            <b-form-group
                label="ایمیل"
                label-for="blog-edit-title"
                class="mb-2"
            >
              <b-form-input
                  id="blog-edit-title"
                  ref="title"
                  v-model="contact_us.email"
                  :state="contact_us.email !== null"
              />
              <b-form-invalid-feedback>
                {{ errorMsg.title }}
              </b-form-invalid-feedback>
            </b-form-group>
          </b-col>
          <b-col md="12">
            <b-form-group
                label="آدرس"
                label-for="blog-edit-title"
                class="mb-2"
            >
              <b-form-input
                  id="blog-edit-title"
                  ref="title"
                  v-model="contact_us.address"
                  :state="contact_us.address !== null"
              />
              <b-form-invalid-feedback>
                {{ errorMsg.title }}
              </b-form-invalid-feedback>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col
              cols="12"
              class="mt-50"
          >
            <b-button
                v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                variant="primary"
                class="mr-1"
                @click="ContactUs"
                :disabled="state.loading"
            >
              ویرایش
            </b-button>
            <b-button
                @click="$router.back()"
                v-ripple.400="'rgba(186, 191, 199, 0.15)'"
                variant="outline-secondary"
            >
              بازگشت
            </b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-overlay>
  </b-card>
</template>

<script>
import {
  BCard,
  BButton,
  BForm,
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BFormInvalidFeedback,
  BOverlay
} from 'bootstrap-vue'
import {Icon} from 'leaflet'
import 'leaflet/dist/leaflet.css'
import 'leaflet/dist/leaflet.css'
import {quillEditor} from 'vue-quill-editor'

delete Icon.Default.prototype._getIconUrl
Icon.Default.mergeOptions({
  iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
  iconUrl: require('leaflet/dist/images/marker-icon.png'),
  shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
})

export default {
  name: "ContactUs",
  components: {
    BCard,
    BButton,
    BForm,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BFormInvalidFeedback,
    quillEditor,
    BOverlay
  },
  data() {
    return {
      contact_us: {
        id: null,
        title: null,
        text: null,
        address: null,
        phone: null,
        email: null,
        lat: null,
        long: null
      },
      errorMsg: {
        title: ''
      },
      snowOption: {
        theme: 'snow',
      },
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      zoom: 10,
      center: [47.313220, -1.319482],
      markerLatLng: [47.313220, -1.319482],
      circle: {
        center: [47.313220, -1.319482],
        radius: 4500,
        color: '#EA5455',
      },
      polygon: {
        latlngs: [[47.2263299, -1.6222], [47.21024000000001, -1.6270065], [47.1969447, -1.6136169], [47.18527929999999, -1.6143036], [47.1794457, -1.6098404], [47.1775788, -1.5985107], [47.1676598, -1.5753365], [47.1593731, -1.5521622], [47.1593731, -1.5319061], [47.1722111, -1.5143967], [47.1960115, -1.4841843], [47.2095404, -1.4848709], [47.2291277, -1.4683914], [47.2533687, -1.5116501], [47.2577961, -1.5531921], [47.26828069, -1.5621185], [47.2657179, -1.589241], [47.2589612, -1.6204834], [47.237287, -1.6266632], [47.2263299, -1.6222]],
        color: '#7367F0',
      },
      loading: false
    }
  },
  mounted() {
    this.getContactUs()
  },
  methods: {
    async getContactUs() {
      this.state.loading = true
      let response = await this.$axios('/contact-us')
      this.contact_us = response.data
      this.state.loading = false

    },
    async ContactUs() {
      const data = new FormData()
      data.append('title', this.contact_us.title)
      data.append('text', this.contact_us.text)
      data.append('phone', this.contact_us.phone)
      data.append('email', this.contact_us.email)
      data.append('address', this.contact_us.address)
      this.state.loading = true
      const response = await this.$axios.post('/contact-us', data, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      if (response.data.status) {
        await this.getContactUs()
        this.$swal({
          icon: 'success',
          title: 'عملیات موفق',
          text: response.data.message,
          confirmButtonText: 'متوجه شدم',
          customClass: {
            confirmButton: 'btn btn-success',
          },
        })
        this.state.loading = false
      }
    }
  }
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
@import '@core/scss/vue/libs/quill.scss';
@import '@core/scss/vue/pages/page-blog.scss';

.vue2leaflet-map {
  &.leaflet-container {
    height: 350px;
  }
}
</style>
