<template>
  <b-card>
    <b-overlay :show="state.loading">
      <b-table
          :items="transaction"
          :small="false"
          responsive
          :fields="columns"
      />
    </b-overlay>
  </b-card>
</template>

<script>
import {
  BCard,
  BOverlay,
  BTable
} from 'bootstrap-vue'

export default {
  name: "BankTransactions",
  components: {
    BCard,
    BOverlay,
    BTable
  },
  data() {
    return {
      transaction: [],
      columns: [
        {
          label: 'کاربر پرداخت کننده',
          key: 'user',
          sortable:  true,
          searchType: 'text',
          formatter: user => {
            return user.first_name + " " + user.last_name
          },
        },
        {
          label: 'مبلغ سفارش',
          key: 'tomman_transaction',
          sortable: true,
          searchType: 'text',
          formatter: transaction => {
            return transaction.amount.toLocaleString() + " تومان"
          }
        },
        {
          label: 'شماره کارت کاربر',
          key: 'cardNumber',
          sortable: true,
          searchType: 'text',
          formatter: cardNumber => {
            return cardNumber === '' || cardNumber === null ? '-' : cardNumber
          }
        },
        {
          label: 'وضعیت پرداخت',
          key: 'status',
          sortable: true,
          searchType: 'text',
          formatter: status => {
            if (status === 'failed') {
              return 'ناموفق'
            }
            if (status === 'successful') {
              return 'موفق'
            }
          },
        },
        {
          label: 'شماره فاکتور',
          key: 'factorNumber',
          sortable: true,
          searchType: 'text',
          formatter: factorNumber => {
            return factorNumber === '' || factorNumber === null ? '-' : factorNumber
          }
        },
        {
          label: 'تاریخ ثبت سفارش',
          key: 'order',
          sortable: true,
          searchType: 'text',
          formatter: date => {
            return date.jalali_created_at_date
          }
        }
      ]
    }
  },
  mounted() {
    this.getBankTransactions()
  },
  methods: {
    async getBankTransactions() {
      this.state.loading = true
      const response = await this.$axios.get('/bank-transactions', {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      this.state.loading = false
      this.transaction = response.data.transactions
    }
  }
}
</script>

<style scoped>

</style>
