<template>
  <b-card
      no-body
      class="p-1"
  >
    <b-overlay
        :show="state.loading"
        rounded="sm"
    >
      <!--header-->
      <div
          class="demo-spacing-0 d-flex justify-content-between m-1"
          dir="rtl"
      >
        <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="info"
            @click="$refs.modal.toggle()"
        >
          <feather-icon
              size="16"
              icon="DollarSignIcon"
          />
          قیمت جدید
        </b-button>
      </div>

      <!--addNewPriceModal-->
      <b-modal
          ref="modal"
          v-model="new_price_modal"
          cancel-variant="outline-danger"
          ok-title="ثبت قیمت"
          cancel-title="بستن"
          centered
          title="قیمت جدید دلار"
          @ok.prevent="submit(new_price)"
          :ok-disabled="state.loading"
          hide-header-close
          no-close-on-esc
      >
        <b-form @submit.prevent="submit(new_price)">
          <b-form-group label="ثبت قیمت روز دلار">
            <cleave
                v-model="new_price"
                class="form-control"
                :raw="false"
                :options="{numeral: true}"
                placeholder="به تومان"
            />
          </b-form-group>
        </b-form>
      </b-modal>

      <!--priceTable-->
      <div class="relative-over-x">
        <b-table
            ref="refUserListTable"
            hover
            bordered
            :items="items"
            responsive
            :fields="columns"
            primary-key="id"
            show-empty
            empty-text="اطلاعاتی یافت نشد"
            no-local-sort
            class="text-nowrap"
            style="min-height : 235px"
            @sort-changed="sort($event)"
        >

          <template #cell(price)="data">
            <span dir="ltr">
              {{ Number(data.item.price).toLocaleString() }}
            </span>
          </template>
        </b-table>
      </div>
    </b-overlay>
  </b-card>
</template>

<script>
import {
  BCard,
  BOverlay,
  BButton,
  BTable,
  BForm,
  BFormGroup,
} from 'bootstrap-vue'
import Cleave from 'vue-cleave-component'

export default {
  name: 'DollarPrice',
  components: {
    BCard,
    BOverlay,
    BButton,
    BTable,
    BForm,
    BFormGroup,
    Cleave,
  },
  data() {
    return {
      loading: false,
      items: [],
      new_price_modal: false,
      new_price: null,
      columns: [
        {
          label: 'قیمت واحد',
          key: 'price',
          sortable: true,
          searchType: 'number',
        },
        {
          label: 'تاریخ ثبت قیمت',
          key: 'created_at',
          sortable: true,
          searchType: 'number',
        },
      ],
    }
  },
  mounted() {
    this.getDolors()
  },
  methods: {
    async getDolors() {
      this.state.loading = true
      const response = await this.$axios.get('/currency', {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      this.items = response.data.data
      this.state.loading = false
    },
    // eslint-disable-next-line consistent-return
    async submit(price) {
      const priceData = price.replace(/,/ig, '')
      if (!priceData) {
        return false
      }
      this.state.loading = true
      await this.$axios.post('/currency', {price: priceData}, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      await this.getDolors()
      this.new_price_modal = false
      this.state.loading = false
    },
  },
}
</script>

<style scoped>

</style>
