<template>
  <b-overlay :show="loading">
    <b-card>
      <b-card-header>
        <h3>اطلاعات ادمین</h3>
      </b-card-header>
      <hr>
      <b-card-body style="display: flex;" class="justify-content-start">
        <b-form class="col-md-4">
          <b-row>
            <label>
              ایمیل
            </label>
            <b-form-input type="email" v-model="email" :state="email !== ''"/>
          </b-row>
          <br>
          <b-row>
            <label>
              رمز عبور فعلی
            </label>
            <b-form-input :type="nowType ? 'password' : 'text'" v-model="password" :state="password !== ''"/>
            <feather-icon :icon="nowType ? 'EyeIcon' : 'EyeOffIcon'" class="cursor-pointer mt-1" @click="nowType = !nowType" />
          </b-row>
          <br>
          <b-row>
            <label>
              رمز عبور جدید
            </label>
            <b-form-input :type="newType ? 'password' : 'text'" v-model="newPassword" :state="newPassword !== '' && newPassword === confirmPassword"/>
            <feather-icon :icon="newType ? 'EyeIcon' : 'EyeOffIcon'" class="cursor-pointer mt-1" @click="newType = !newType"/>
          </b-row>
          <br>
          <b-row>
            <label>
              تکرار رمز عبور جدید
            </label>
            <b-form-input :type="confirmType ? 'password' : 'text'" :state="confirmPassword !== '' && newPassword === confirmPassword" v-model="confirmPassword"/>
            <feather-icon :icon="confirmType ? 'EyeIcon' : 'EyeOffIcon'" class="cursor-pointer mt-1" @click="confirmType = !confirmType"/>
            <div class="mt-5" style="display: flex">
              <b-button variant="primary" @click="handleSubmit">
                تایید
              </b-button>
              <b-button variant="outline-danger" class="ml-2" @click="$router.back()">
                بازگشت
              </b-button>
            </div>
          </b-row>

        </b-form>
        <div class="col-md-6 ml-5">
          <img src="./admin-profile.jpg" alt="" class="shadow-lg bg-gradient-dark cursor-pointer" draggable="false" style="border-radius: 10px"/>
        </div>
      </b-card-body>
    </b-card>
  </b-overlay>
</template>

<script>
import {
  BCard,
  BCardHeader,
  BCardBody,
  BOverlay,
  BRow,
  BFormInput,
  BForm,
  BButton,
} from 'bootstrap-vue'
import FeatherIcon from "@core/components/feather-icon/FeatherIcon"

export default {
  name: "Profile.vue",
  components: {
    BCard,
    BCardHeader,
    BCardBody,
    BOverlay,
    BRow,
    BFormInput,
    BForm,
    BButton,
    FeatherIcon
  },
  data() {
    return {
      loading: false,
      email: '',
      password: '',
      newPassword: '',
      confirmPassword: '',

      nowType: true,
      newType: true,
      confirmType: true
    }
  },
  mounted() {
    this.getAdmin()
  },
  methods: {
    async handleSubmit() {
      const data = new FormData()
      data.append('email', this.email)
      data.append('password', this.password)
      data.append('newPassword', this.newPassword)
      data.append('confirmPassword', this.confirmPassword)
      this.loading = true
      const response = await this.$axios.post('/admin/edit', data, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      if (response.data.success) {
        await this.$alert('عملیات موفقیت آمیز بود', 'موفق', 'success', {
          timer: 5000,
          timerProgressBar: true,
          icon: 'success'
        })
        await this.getAdmin()
      }
    },
    async getAdmin() {
      this.loading = true
      const response = await this.$axios.get('/logged-in-admin', {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      this.email = response.data.admin.email
      this.loading = false
    }
  }
}
</script>

<style scoped>

</style>
