<template>
  <b-card
    no-body
    class="p-1"
  >
    <b-overlay
      :show="loading"
    >
      <div
        class="demo-spacing-0 d-flex justify-content-between m-1"
        dir="rtl"
      >
        <b-button
          v-ripple.400="'rgba(255, 255, 255, 0.15)'"
          variant="primary"
          @click="isActive=true"
        >
          <feather-icon
            size="16"
            icon="FilterIcon"
          />
          فیلتر
        </b-button>

      </div>

      <div class="relative-over-x">
        <b-table
          ref="refUserListTable"
          :items="transactions"
          :small="true"
          responsive
          :fields="columns"
          primary-key="id"
          show-empty
          empty-text="اطلاعاتی یافت نشد"
          no-local-sort
          style="white-space: nowrap; min-height : 235px"
          @sort-changed="sort($event)"
        >
          <template #cell(status)="data">
            <div style="max-width: 150px">
              <b-form-select
                v-model="data.item.status"
                :options="options"
                :class="data.item.status === 'confirm' ? 'btn-outline-success' : data.item.status === 'process' ? 'btn-outline-warning' : 'btn-outline-danger'"
                size="sm"
                @change="changeStatus(data.item)"
              />
            </div>
          </template>
        </b-table>

      </div>
    </b-overlay>
  </b-card>
</template>

<script>
import {
  BCard,
  BButton,
  BOverlay,
  BTable,
  BFormSelect,
} from 'bootstrap-vue'

export default {
  name: 'CryptoWalletAddresses',
  components: {
    BCard,
    BButton,
    BOverlay,
    BTable,
    BFormSelect,
  },
  data() {
    return {
      validated: null,
      loading: false,
      isActive: false,
      cryptoWalletAddress: [],
      transactions: [],
      coins: [],
      newWalletModal: false,
      options: [
        { value: 'process', text: 'در حال بررسی'},
        { value: 'confirm', text: 'تایید شده' },
        { value: 'reject', text: 'رد شده' },
      ],
      selected: null,
      columns: [
        {
          label: 'آیدی تراکنش',
          key: 'order_number',
          sortable: true,
          searchType: 'text',
        },
        {
          label: 'مقدار تراکنش',
          key: 'amount',
          sortable:  true,
          searchType: 'text',
          formatter: text => {
            return text.toLocaleString() + ' تومان'
          },
        },
        {
          label: 'نوع تراکنش',
          key: 'type',
          sortable: true,
          searchType: 'text',
          formatter: text => {
            if (text === 'deposit') {
              return 'واریز'
            }
            else if (text === 'withdraw') {
              return 'برداشت'
            }
          }
        },
        {
          label: 'وضعیت',
          key: 'status',
          sortable: true,
          searchType: 'text',
          formatter: text => {
            if (text === 'process') {
              return 'در حال بررسی'
            }
            else if (text === 'confirm') {
              return 'تایید شده'
            }
            else if (text === 'reject') {
              return 'رد شده'
            }
          }
        },
        {
          label: 'تاریخ',
          key: 'created_at',
          sortable: true,
          searchType: 'text'
        }
      ],
    }
  },
  mounted() {
    this.getTransactions()
  },
  methods: {
    async getTransactions() {
      this.loading = true
      const response = await this.$axios.get('/toman-transactions', {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      this.transactions = response.data.transactions
      this.loading = false
    },
    async changeStatus(item) {
      this.loading = true
      const response = await this.$axios.post(`/transaction/${item.id}/change-status`, {status: item.status}, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      if (response.data.success) {
        await this.$alert('تغییر با موفقیت اعمال شد', 'موفق', 'success', {
          timer: 5000,
          timerProgressBar: true
        })
      }
      await this.getTransactions()
      this.loading = false
    }
  },
}
</script>

<style scoped>

</style>
