@font-face {
    font-family: 'Yekan-en';
    src: url('YEKANBAKH-FAT.TTF');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Yekan-en';
    src: url('YEKANBAKH-HEAVY.TTF');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Yekan-en';
    src: url('YEKANBAKH-BOLD.TTF');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Yekan-en';
    src: url('YEKANBAKH-MEDIUM.TTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Yekan-en';
    src: url('YEKANBAKH-REGULAR.TTF');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Yekan-en';
    src: url('YEKANBAKH-LIGHT.TTF');
    font-weight: 100;
    font-style: normal;
}

/*fa*/
@font-face {
    font-family: 'Yekan';
    src: url("YEKANBAKH-LIGHT-fa.woff2") format("woff2"),
    url("YEKANBAKH-LIGHT-fa.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Yekan';
    src: url("YEKANBAKH-REGULAR-fa.woff2") format("woff2"),
    url("YEKANBAKH-REGULAR-fa.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Yekan';
    src: url("YEKANBAKH-MEDIUM-fa.woff2") format("woff2"),
    url("YEKANBAKH-MEDIUM-fa.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Yekan';
    src: url("YEKANBAKH-BOLD-fa.woff2") format("woff2"),
    url("YEKANBAKH-BOLD-fa.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Yekan';
    src: url("YEKANBAKH-HEAVY-fa.woff2") format("woff2"),
    url("YEKANBAKH-HEAVY-fa.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Yekan';
    src: url("YEKANBAKH-FAT-fa.woff2") format("woff2"),
    url("YEKANBAKH-FAT-fa.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}