<template>
  <b-card no-body class="p-1">

    <b-overlay :show="state.loading" rounded="sm">

      <!--      filter and new post section-->
      <div
          class="demo-spacing-0 m-1 d-flex justify-content-between align-items-center"
          dir="rtl"
      >

        <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="info"
            @click="newAnswer = true"
        >
          <feather-icon
              size="17"
              icon="FilePlusIcon"
          />
          ساخت سوالات جدید
        </b-button>

        <!--        create new answer modal-->
        <b-modal
            id="modal-1"
            v-model="newAnswer"
            title="ساخت سوالات جدید"
            ok-title="ساختن"
            cancel-title="لغو"
            cancel-variant="danger"
            centered
            @ok.prevent="addAnswer"
            :ok-disabled="state.loading"
        >
          <b-form>
            <b-overlay
                :show="state.loading"
                rounded="sm"
            >
              <b-form-group label="سوال">
                <b-form-textarea
                    id="textarea-state"
                    v-model="question"
                    :state="question.length > 0"
                    placeholder="Enter only 10 characters"
                    rows="3"
                />
              </b-form-group>
              <b-form-group label="جواب">
                <b-form-textarea
                    id="textarea-state"
                    v-model="answer"
                    :state="answer.length > 0"
                    placeholder="Enter only 10 characters"
                    rows="3"
                />
              </b-form-group>
            </b-overlay>
          </b-form>

        </b-modal>

        <b-modal
            id="modal-1"
            v-model="editAnswerModal"
            title="ساخت سوالات جدید"
            ok-title="ویرایش"
            cancel-title="لغو"
            cancel-variant="danger"
            centered
            @ok.prevent="editAnswerHandler"
            :ok-disabled="state.loading"
        >
          <b-form>
            <b-overlay
                :show="state.loading"
                rounded="sm"
            >
              <b-form-group label="سوال">
                <b-form-textarea
                    id="textarea-state"
                    v-model="editQuestion"
                    placeholder="Enter only 10 characters"
                    rows="3"
                />
              </b-form-group>
              <b-form-group label="جواب">
                <b-form-textarea
                    id="textarea-state"
                    v-model="editAnswer"
                    placeholder="Enter only 10 characters"
                    rows="3"
                />
              </b-form-group>
            </b-overlay>
          </b-form>

        </b-modal>

      </div>

      <!--    table-->
      <div class="relative-over-x">
        <b-table
            ref="refUserListTable"
            :small="true"
            responsive
            primary-key="id"
            :fields="columns"
            :items="faqs"
            show-empty
            empty-text="اطلاعاتی یافت نشد"
            style="white-space: nowrap; min-height : 235px"
            no-local-sort
        >

          <template #cell(view)="data">
            <b-badge
                pill
                variant="light-info"
                class="text-capitalize"
            >
              {{ data.item.view }}
            </b-badge>
          </template>

          <template #cell(comments_count)="data">
            <b-badge
                pill
                variant="light-warning"
                class="text-capitalize"
            >
              {{ data.item.comments_count }}
            </b-badge>
          </template>

          <template #cell(likes_count)="data">
            <b-badge
                pill
                variant="light-danger"
                class="text-capitalize"
            >
              {{ data.item.likes_count }}
            </b-badge>
          </template>

          <template #cell(likes_count)="data">
            <b-badge
                pill
                variant="light-danger"
                class="text-capitalize"
            >
              {{ data.item.likes_count }}
            </b-badge>
          </template>

          <template #cell(status)="data">
            <div style="max-width: 200px">
              <b-form-select
                  v-model="data.item.status"
                  :options="options"
                  :state="data.item.status !== 0"
                  size="sm"
                  @change="changeStatus(data.item.id)"
              />
            </div>
          </template>

          <template #cell(action)="{item}">

            <b-dropdown
                id="dropdown-offset"
                variant="link"
                no-caret
                offset="80px"
                :right="true"
            >
              <template #button-content>
                <feather-icon
                    icon="MoreVerticalIcon"
                    size="16"
                    class="align-middle text-body"
                />
              </template>

              <b-dropdown-item @click="editFaq(item.id)">
                <feather-icon icon="EditIcon"/>
                <span class="align-middle ml-50">ویرایش</span>
              </b-dropdown-item>

              <b-dropdown-item @click="deleteFaq(item.id)">
                <feather-icon
                    icon="DeleteIcon"
                    badge-classes="badge-info test-badge"
                />
                <span class="align-middle ml-50">حذف</span>
              </b-dropdown-item>

            </b-dropdown>

          </template>
        </b-table>
      </div>

      <!-- pagination -->
      <div
          class="demo-spacing-0 d-flex justify-content-between m-1"
      >
        <b-pagination
            v-model="currentPage"
            :per-page="perPage"
            :total-rows="rows"
            first-number
            last-number
            prev-class="prev-item"
            next-class="next-item"
            align="left"
            @input="getPosts(currentPage,perPage)"
        >
          <template #prev-text>
            <feather-icon
                icon="ChevronRightIcon"
                size="18"
            />
          </template>
          <template #next-text>
            <feather-icon
                icon="ChevronRightIcon"
                size="18"
            />
          </template>
        </b-pagination>
        <div>
          <v-select
              id="perpage"
              v-model="perPage"
              dir="rtl"
              :options="perPageOptions"
              :clearable="false"
              class="per-page-selector d-inline-block mx-50"
              style="min-width: 85px"
              @input="getPosts(perPage, currentPage)"
          />
          <label>تعداد در صفحه</label>
        </div>
      </div>

    </b-overlay>

  </b-card>
</template>

<script>
import {
  BCard,
  BOverlay,
  BButton,
  BTable,
  BPagination,
  BDropdown,
  BDropdownItem,
  BBadge,
  BFormSelect,
  BForm,
  BFormGroup,
  BFormTextarea,
} from 'bootstrap-vue'
import vSelect from "vue-select"

export default {
  name: "Faq",
  components: {
    BCard,
    BOverlay,
    BButton,
    BTable,
    BDropdown,
    BDropdownItem,
    BPagination,
    BBadge,
    BFormSelect,
    BForm,
    BFormGroup,
    BFormTextarea,
    vSelect
  },
  data() {
    return {
      faqs: [],
      columns: [
        {
          label: 'سوال',
          key: 'question',
          sortable: false,
          searchType: 'text',
        },
        {
          label: 'جواب',
          key: 'answer',
          sortable: false,
          searchType: 'text',
        },
        {
          label: 'مدیریت',
          key: 'action',
        },
      ],
      currentPage: 1,
      perPage: 10,
      rows: 20,
      perPageOptions: [10, 25, 50, 100, 250],
      isActive: false,
      newAnswer: false,
      editAnswerModal: false,
      question: '',
      answer: '',
      editQuestion: '',
      editAnswer: '',
      faqId: null,
      deleteModal: ''
    }
  },
  mounted() {
    this.getFaqs()
  },
  methods: {
    async getFaqs(perPage, currentPage) {
      this.state.loading = true

      const queryParams = {
        per_page: perPage,
        page: currentPage,
      }

      const response = await this.$axios.get('/faq', {
        params: queryParams,
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      this.faqs = response.data.data
      this.rows = response.data.pagination.total_pages
      this.perPage = response.data.pagination.per_page
      this.currentPage = response.data.pagination.current_page
      this.state.loading = false
    },
    async addAnswer() {
      if (!this.question || !this.answer) return false
      this.state.loading = true
      let response = await this.$axios.post('/faq', {question: this.question, answer: this.answer}, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })

      if (response.data.status) {
        await this.getFaqs()
        this.$swal({
          icon: 'success',
          title: response.data.message,
          confirmButtonText: 'تایید',
          customClass: {
            confirmButton: 'btn btn-success',
          },
        }).then(() => {
          this.newAnswer = false
        })
      }
      this.state.loading = false
    },
    async editFaq(id) {
      this.state.loading = true
      let response = await this.$axios(`/faq/${id}`, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      this.editQuestion = response.data.data.question
      this.editAnswer = response.data.data.answer
      this.faqId = id
      this.editAnswerModal = true
      this.state.loading = false
    },
    async editAnswerHandler() {
      this.state.loading = true
      let response = await this.$axios.post(`/faq/${this.faqId}/edit`, {question: this.editQuestion, answer: this.editAnswer}, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      if (response.data.status) {
        await this.getFaqs()
        this.$swal({
          icon: 'success',
          title: response.data.message,
          confirmButtonText: 'تایید',
          // text: 'Your file has been deleted.',
          customClass: {
            confirmButton: 'btn btn-success',
          },
        }).then(() => {
          this.editAnswerModal = false
        })
        this.state.loading = false
      }
    },
    async deleteFaq(id) {
      this.deleteModal = ''
      this.$bvModal
          .msgBoxConfirm('آیا میخواهید این مورد را حذف کنید؟', {
            title: 'لطفا تایید کنید',
            size: 'sm',
            okVariant: 'primary',
            okTitle: 'بله',
            cancelTitle: 'خیر',
            cancelVariant: 'outline-danger',
            hideHeaderClose: false,
            centered: true,
          })
          .then(async value => {
            if (value === true) {
              this.state.loading = true
              const response = await this.$axios({
                url: `/faq/${id}`,
                method: 'DELETE'
              })
              if (response.data.status) {
                await this.getFaqs()
                this.$swal({
                  icon: 'success',
                  title: 'عملیات موفق',
                  text: response.data.message,
                  confirmButtonText: 'متوجه شدم',
                  customClass: {
                    confirmButton: 'btn btn-success',
                  },
                })
              }
            }
          })
    }
  }
}
</script>

<style scoped>

</style>
