<template>

  <b-card no-body class="p-1">

    <b-overlay :show="state.loading" rounded="sm">

      <!--      filter and new button section-->
      <div
          class="demo-spacing-0 m-1 d-flex justify-content-between align-items-center"
          dir="rtl"
      >
        <b-button
            variant="primary"
            @click="isActive=true"
        >
          <feather-icon icon="FilterIcon"/>
          فیلتر
        </b-button>

        <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            v-b-modal.modal-1
            variant="info"
        >
          <feather-icon
              size="17"
              icon="FilePlusIcon"
          />
          ساخت دسته بندی جدید
        </b-button>

      </div>

      <!--      modal for create new category-->
      <b-modal
          id="modal-1"
          v-model="newCategory"
          title="ساخت دسته بندی جدید"
          ok-title="ساخت دسته بندی"
          cancel-title="لغو"
          centered
          @ok.prevent="addCategory"
      >
        <b-form>
          <b-overlay
              :show="state.loading"
              rounded="sm"
          >
            <b-form-group label="نام دسته بندی">
              <b-form-input v-model="category.name"/>
            </b-form-group>

          </b-overlay>
        </b-form>

      </b-modal>

      <!--      modal for edit category -->
      <b-modal
          v-model="editCategory"
          title="ویرایش دسته بندی"
          ok-title="ویرایش"
          cancel-title="لغو"
          centered
          @ok.prevent="editCategorySubmit"
      >
        <b-form>
          <b-overlay
              :show="state.loading"
              rounded="sm"
          >
            <b-form-group label="نام دسته بندی">
              <b-form-input v-model="editModelCategory.name"/>
            </b-form-group>

          </b-overlay>
        </b-form>

      </b-modal>

      <!--    table-->
      <div class="relative-over-x">
        <b-table
            ref="refUserListTable"
            :small="true"
            responsive
            primary-key="id"
            :fields="columns"
            :items="categories"
            show-empty
            empty-text="اطلاعاتی یافت نشد"
            style="white-space: nowrap; min-height : 235px"
            no-local-sort
        >

          <template #cell(posts_count)="data">
            <b-badge
                pill
                variant="light-info"
                class="text-capitalize"
            >
              {{ data.item.posts_count }}
            </b-badge>
          </template>

          <template #cell(action)="{item}">

            <b-dropdown
                id="dropdown-offset"
                variant="link"
                no-caret
                offset="80px"
                :right="true"
            >
              <template #button-content>
                <feather-icon
                    icon="MoreVerticalIcon"
                    size="16"
                    class="align-middle text-body"
                />
              </template>

              <b-dropdown-item @click="editCategoryHandler(item.id)">
                <feather-icon icon="EditIcon"/>
                <span class="align-middle ml-50">ویرایش</span>
              </b-dropdown-item>

              <b-dropdown-item @click="deleteCategory(item.id)">
                <feather-icon
                    icon="DeleteIcon"
                    badge-classes="badge-info test-badge"
                />
                <span class="align-middle ml-50">حذف</span>
              </b-dropdown-item>

            </b-dropdown>

          </template>
        </b-table>
      </div>

      <!-- pagination -->
      <div
          class="demo-spacing-0 d-flex justify-content-between m-1"
      >
        <b-pagination
            v-model="currentPage"
            :per-page="perPage"
            :total-rows="rows"
            first-number
            last-number
            prev-class="prev-item"
            next-class="next-item"
            align="left"
            @input="getCategories(currentPage,perPage)"
        >
          <template #prev-text>
            <feather-icon
                icon="ChevronRightIcon"
                size="18"
            />
          </template>
          <template #next-text>
            <feather-icon
                icon="ChevronRightIcon"
                size="18"
            />
          </template>
        </b-pagination>
        <div>
          <v-select
              id="perpage"
              v-model="perPage"
              dir="rtl"
              :options="perPageOptions"
              :clearable="false"
              class="per-page-selector d-inline-block mx-50"
              style="min-width: 85px"
              @input="getCategories(perPage, currentPage)"
          />
          <label>تعداد در صفحه</label>
        </div>
      </div>

    </b-overlay>

  </b-card>

</template>

<script>
import {
  BCard,
  BOverlay,
  BButton,
  BTable,
  BDropdown,
  BDropdownItem,
  BBadge,
  BPagination,
  BForm,
  BFormGroup,
  BFormInput,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
// import '@core/scss/vue/libs/vue-select.scss'

export default {
  name: "Categories",
  components: {
    BCard,
    BOverlay,
    BButton,
    BTable,
    BDropdown,
    BDropdownItem,
    BBadge,
    BPagination,
    BForm,
    BFormGroup,
    BFormInput,
    vSelect
  },
  data() {
    return {
      categories: [],
      columns: [
        {
          label: 'نام',
          key: 'name',
          sortable: false,
          searchType: 'text',
        },
        {
          label: 'تعداد پست ها',
          key: 'posts_count',
          sortable: false,
          searchType: 'text',
        },
        {
          label: 'تاریخ ساخت',
          key: 'jalali_created_at_date',
          sortable: false,
          searchType: 'text',
        },
        {
          label: 'مدیریت',
          key: 'action',
        },
      ],
      currentPage: 1,
      perPage: 10,
      rows: 20,
      newCategory: false,
      category: {
        name: null
      },
      editCategory: false,
      editModelCategory: {
        id: null,
        name: null
      },
      perPageOptions: [10, 25, 50, 100, 250],
      isActive: false,
      deleteModal: ''
    }
  },
  mounted() {
    this.getCategories()
  },
  methods: {
    async getCategories(perPage, currentPage) {
      this.state.loading = true

      const queryParams = {
        per_page: perPage,
        page: currentPage,
      }

      const response = await this.$axios.get('/categoryy', {
        params: queryParams,
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      this.categories = response.data.data
      this.rows = response.data.pagination.total_pages
      this.perPage = response.data.pagination.per_page
      this.currentPage = response.data.pagination.current_page
    },
    async addCategory() {
      this.state.loading = true

      const response = await this.$axios({
        url: '/category',
        method: 'POST',
        data: this.category
      })
      this.$swal({
        icon: 'success',
        title: 'عملیات موفق',
        text: response.data.message,
        confirmButtonText: 'متوجه شدم',
        customClass: {
          confirmButton: 'btn btn-success',
        },
      })
      await this.getCategories(this.perPage, this.currentPage)
      this.newCategory = false
    },
    async editCategoryHandler(id) {
      this.editModelCategory.id = id
      this.state.loading = true
      const response = await this.$axios(`/category/${id}`)
      // console.log(response.data)
      this.editModelCategory.name = response.data.name
      this.editCategory = true
    },
    async editCategorySubmit() {
      this.state.loading = true

      const response = await this.$axios({
        url: `/category/${this.editModelCategory.id}`,
        method: 'PUT',
        data: this.editModelCategory
      })
      this.$swal({
        icon: 'success',
        title: 'عملیات موفق',
        text: response.data.message,
        confirmButtonText: 'متوجه شدم',
        customClass: {
          confirmButton: 'btn btn-success',
        },
      })
      await this.getCategories(this.perPage, this.currentPage)
      this.editCategory = false
    },
    async deleteCategory(id) {
      this.deleteModal = ''
      this.$bvModal
          .msgBoxConfirm('آیا میخواهید این دسته بندی را حذف کنید؟', {
            title: 'لطفا تایید کنید',
            size: 'sm',
            okVariant: 'primary',
            okTitle: 'بله',
            cancelTitle: 'خیر',
            cancelVariant: 'outline-secondary',
            hideHeaderClose: false,
            centered: true,
          })
          .then(async value => {
            if (value === true) {
              this.state.loading = true

              const response = await this.$axios({
                url: `/category/${id}`,
                method: 'DELETE'
              })
              if (response.data.status) {
                await this.getCategories(this.perPage, this.currentPage)
                this.$swal({
                  icon: 'success',
                  title: 'عملیات موفق',
                  text: response.data.message,
                  confirmButtonText: 'متوجه شدم',
                  customClass: {
                    confirmButton: 'btn btn-success',
                  },
                })
              }
            }
          })
    }
  }
}
</script>

<!--<style scoped>-->

<!--</style>-->
<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
</style>

