<template>
  <b-card title="در دست توسعه میباشد">

  </b-card>
</template>

<script>
import {BCard,} from 'bootstrap-vue'
export default {
  name: "Show",
  components: {
    BCard,
  }
}
</script>

<style scoped>

</style>
