<template>
  <b-card>
    <b-form class="mt-2">
      <b-row>
        <b-col md="6">
          <b-form-group
              label="عنوان"
              label-for="blog-edit-title"
              class="mb-2"
          >
            <b-form-input
                id="blog-edit-title"
                ref="title"
                v-model="privacy_policies.header"
                :state="privacy_policies.header !== null"
            />
            <b-form-invalid-feedback>
              {{ errorMsg.header }}
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group
              label="متن"
              label-for="blog-content"
              class="mb-2"
          >
            <b-overlay :show="state.loading">
              <quill-editor
                  id="blog-content"
                  v-model="privacy_policies.text"
                  :options="snowOption"
              />
            </b-overlay>

          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col
            cols="12"
            class="mt-50"
        >
          <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="primary"
              class="mr-1"
              @click="editPrivacyPolicies"
              :disabled="state.loading"
          >
            ویرایش
          </b-button>
          <b-button
              @click="$router.back()"
              v-ripple.400="'rgba(186, 191, 199, 0.15)'"
              variant="outline-secondary"
          >
            بازگشت
          </b-button>
        </b-col>
      </b-row>
    </b-form>
  </b-card>
</template>

<script>
import {
  BCard,
  BButton,
  BForm,
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BFormInvalidFeedback,
  BOverlay
} from 'bootstrap-vue'

import {quillEditor} from 'vue-quill-editor'

export default {
  name: "PrivacyPolicies",
  components: {
    BCard,
    BButton,
    BForm,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BFormInvalidFeedback,
    quillEditor,
    BOverlay
  },
  data() {
    return {
      privacy_policies: {
        id: null,
        header: null,
        text: null
      },
      errorMsg: {
        title: ''
      },
      snowOption: {
        theme: 'snow',
      },
    }
  },
  mounted() {
    this.getPrivacyPolicies()
  },
  methods: {
    async getPrivacyPolicies() {
      this.state.loading = true
      let response = await this.$axios('/privacy-policy')
      this.privacy_policies = {
        id: response.data.id,
        header: response.data.header,
        text: response.data.content
      }
      this.state.loading = false
    },
    async editPrivacyPolicies() {
      this.state.loading = true
      let response = await this.$axios({
        url: `/privacy-policy/${this.privacy_policies.id}`,
        method: 'POST',
        data: this.privacy_policies
      })
      if (response.data.status) {
        this.about_us = {
          id: response.data.data.id,
          header: response.data.data.header,
          text: response.data.data.text
        }
        this.$swal({
          icon: 'success',
          title: 'عملیات موفق',
          text: response.data.message,
          confirmButtonText: 'متوجه شدم',
          customClass: {
            confirmButton: 'btn btn-success',
          },
        })
      }
      this.state.loading = false
    }
  }
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
@import '@core/scss/vue/libs/quill.scss';
@import '@core/scss/vue/pages/page-blog.scss';
</style>
