<template>
  <b-card>
    <b-overlay :show="state.loading">
      <b-table
          :fields="fields"
          :items="tickets"
          responsive
          rtl
          class="mb-0"
          bordered
      >
        <template #cell(status)="data">
          <span v-if="data.item.status === 'answered'" class="text-success">
            <b-badge class="bg-gradient-success">
              پاسخ داده شده
            </b-badge>
          </span>
          <span v-if="data.item.status === 'process'" class="text-warning">
            <b-badge class="bg-gradient-warning">
              در حال بررسی
            </b-badge>
          </span>
          <span v-if="data.item.status === 'reject'" class="text-danger">
            <b-badge class="bg-gradient-danger">
              رد شده
            </b-badge>
          </span>
        </template>
        <template #cell(details)="data">
          <div @click="openChatModal(data)">
            <feather-icon icon="EyeIcon" class="cursor-pointer"/>
          </div>
        </template>
      </b-table>
    </b-overlay>
    <b-modal
        id="chat-modal"
        ok-title="ارسال پاسخ"
        cancel-title="لغو"
        ok-variant="primary"
        cancel-variant="outline-danger"
        centered
        @ok="handleOk"
        :ok-disabled="state.loading"
    >
      <b-row v-for="item in selected.messages" :key="item.id" :class="item.type === 'Client' ? 'm-1 justify-content-start' : 'm-1 justify-content-end'">
        <div style="display: flex">
          <div class="user-message" v-if="item.text !== null && item.type === 'Client'">
            <p>
              <feather-icon icon="ChevronRightIcon"/>
            </p>
            <p style="margin: 15px 15px;max-width: 250px; word-break: break-all">
              {{ item.text }}
            </p>
          </div>
          <div class="admin-message" v-if="item.text !== null && item.type === 'admin'">
            <p style="display: flex; justify-content: end"><feather-icon icon="ChevronLeftIcon"/></p>
            <p style="margin: 15px 15px;max-width: 250px; word-break: break-all">
              {{ item.text }}
            </p>
          </div>
          <div v-if="item.image !== 'https://api.exchang-az.com/public/storage/'" class="ml-1">
            <img :src="item.image" alt="" width="69px" draggable="false">
          </div>
        </div>
      </b-row>
    </b-modal>
    <b-modal
        id="reply-modal"
        ok-title="ارسال"
        cancel-title="لغو"
        ok-variant="primary"
        cancel-variant="outline-danger"
        centered
        @ok="handleSend"
        @close="text = ''"
    >
      <b-form-textarea
          id="textarea"
          placeholder="پاسخ خود را بنویسید..."
          rows="3"
          v-model="text"
          max-rows="6"
      />
    </b-modal>
  </b-card>
</template>

<script>
import {
  BCard,
  BTable,
  BOverlay,
  BModal,
  // BCardBody,
  BFormTextarea,
  BRow,
  BBadge
} from "bootstrap-vue"
import FeatherIcon from "@core/components/feather-icon/FeatherIcon"

export default {
  name: "Chat",
  components: {
    BCard,
    BOverlay,
    FeatherIcon,
    BTable,
    BModal,
    BFormTextarea,
    BRow,
    BBadge
  },
  data() {
    return {
      loading: false,
      selected: {},
      tickets: [],
      text: '',
      fields: [
        {
          label: 'موضوع',
          key: 'subject'
        },
        {
          label: 'بخش مربوطه',
          key: 'section',
          formatter: text => {
            if (text === 'order_tracking') {
              return 'پیگیری سفارش'
            } else if (text === 'authentication') {
              return 'احراز هویت'
            } else if (text === 'financial') {
              return 'مالی'
            } else if (text === 'other') {
              return 'سایر'
            }
          }
        },
        {
          label: 'شناسه سفارش',
          key: 'order_number',
          formatter: item => {
            if (item === null || item === '' || item === undefined || item === 'null') {
              return '-'
            }
            return item
            // if (item === undefined || item === null) {
            //   return '-'
            // } else return item
          }
        },
        {
          label: 'وضعیت',
          key: 'status',
        },
        {
          label: 'جزییات',
          key: 'details',
        }
      ]
    }
  },
  mounted() {
    this.getTickets()
  },
  methods: {
    async getTickets() {
      this.state.loading = true
      const response = await this.$axios.get('/admin-panel/tickets', {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      this.tickets = response.data.tickets
      this.state.loading = false
    },
    openChatModal(data) {
      this.selected = data.item
      this.$bvModal.show('chat-modal')
    },
    handleOk(e) {
      e.preventDefault()
      this.$bvModal.show('reply-modal')
    },
    async handleSend() {
      this.state.loading = true
      const response = await this.$axios.post(`/ticket/${this.selected.id}/answer`, {answer: this.text}, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      if (response.data.success) {
        await this.getTickets()
        this.state.loading = false
        await this.$alert('تیکت مورد نظر با موفقیت پاسخ داده شد', 'موفق', 'success', {
          timer: 5000,
          timerProgressBar: true
        })
      }
      if (!response.data.success) {
        this.state.loading = false
        await this.$alert('خطایی در پاسخ دهی به این تیکت رخ داده است', 'ناموفق', 'error', {
          timer: 5000,
          timerProgressBar: true
        })
      }
      this.$bvModal.hide('chat-modal')
    }
  }
}
</script>

<style scoped>
.user-message {
  width: auto;
  max-width: 270px;
  background-color: #3f729b;
  height: auto;
  border-radius: 10px;
  min-height: 39px;
  padding: 10px 5px;
}
.admin-message {
  width: auto;
  max-width: 270px;
  background-color: #2c4762;
  height: auto;
  border-radius: 10px;
  min-height: 39px;
  padding: 10px 5px;
}
</style>
