<template>
  <b-overlay :show="state.loading">
    <b-card>
      <b-row v-for="row in rows" :key="row">
        <br><br>
        <br><br>
        <b-col class="d-flex" v-if="calculateRowValue(row, 0)">
          <b-form-checkbox :value="calculateRowId(row, 0)" @change="handleChange"
                           :unchecked-value="calculateRowId(row, 0)"/>
          {{ calculateRowValue(row, 0) }}
        </b-col>
        <b-col class="d-flex" v-if="calculateRowValue(row, 1)">
          <b-form-checkbox :value="calculateRowId(row, 1)" :unchecked-value="calculateRowId(row, 1)"/>
          {{ calculateRowValue(row, 1) }}
        </b-col>
        <b-col class="d-flex" v-if="calculateRowValue(row, 2)">
          <b-form-checkbox :value="calculateRowId(row, 2)" :unchecked-value="calculateRowId(row, 2)"/>
          {{ calculateRowValue(row, 2) }}
        </b-col>
        <b-col class="d-flex" v-if="calculateRowValue(row, 3)">
          <b-form-checkbox :value="calculateRowId(row, 3)" :unchecked-value="calculateRowId(row, 3)"/>
          {{ calculateRowValue(row, 3) }}
        </b-col>
      </b-row>
    </b-card>
  </b-overlay>
</template>

<script>
import {BCard, BRow, BCol, BFormCheckbox, BOverlay} from "bootstrap-vue"

export default {
  name: "PermissionList",
  components: {
    BCard,
    BRow,
    BCol,
    BFormCheckbox,
    BOverlay
  },
  data() {
    return {
      permissions: [],
      rows: 0,
      selected: []
    }
  },
  methods: {
    async getPermissions() {
      this.state.loading = true
      const res = await this.$axios({
        url: '/permission',
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        },
        method: 'get'
      })
      this.permissions = res.data.permissions
      this.rows = Math.ceil(res.data.permissions.length / 4)
    },
    calculateRowValue(row, index) {
      return this.permissions[4 * (row - 1) + index] ? this.permissions[4 * (row - 1) + index].title : null
    },
    calculateRowId(row, index) {
      return this.permissions[4 * (row - 1) + index] ? String(this.permissions[4 * (row - 1) + index].id) : null
    },
    handleChange(value) {
      const found = this.selected.find(item => item === value)
      if (found) {
        const index = this.selected.indexOf(found)
        this.selected.splice(index, 1)
      } else this.selected.push(value)
      console.log(this.selected)
    }
  },
  mounted() {
    this.getPermissions()
  },
}
</script>

<style scoped>
</style>
