<template>
    <component :is="crypto === null ? 'div' : 'b-card'">
      <!-- Alert: No item found -->
      <b-alert
          variant="danger"
          :show="crypto === null"
      >
        <h4 class="alert-heading">
          اطلاعات دریافت نشد
        </h4>
        <div class="alert-body">
          این رمز ارز با این ای دی یافت نشد
          <b-link
              class="alert-link"
              :to="{ name: 'cryptocurrency'}"
          >
            لیست رمز ارزها
          </b-link>
          برای دیگر رمز ارزها.
        </div>
      </b-alert>

      <b-overlay :show="loading" rounded="sm">
        <user-edit-tab-account
            :crypto-data="crypto"
            class="mt-2 pt-75"
            @rested="restedForm"
            @submited="submitFrom"
        />
      </b-overlay>
    </component>

</template>

<script>
import {
  BCard,
  BForm,
  BFormGroup,
  BFormInput,
  BFormRow,
  BAlert,
  BLink,
  BOverlay
} from 'bootstrap-vue'
import UserEditTabAccount from './CryptoEditPage.vue'

export default {
  name: 'EditCrypto',
  components: {
    BCard,
    BForm,
    BFormGroup,
    BFormInput,
    BFormRow,
    BAlert,
    BLink,
    BOverlay,
    UserEditTabAccount,
  },
  data() {
    return {
      loading: false,
      crypto: {},
    }
  },
  async mounted() {
    await this.getCrypto()
  },
  methods: {
    async getCrypto() {
      this.state.loading = true
      const response = await this.$axios(`/crypto/${this.$route.params.id}`, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      })
      this.crypto = response.data.data
      this.state.loading = false
    },
    submitFrom() {
      this.$alert('رمز ارز با موفقیت ویرایش شد', 'موفق', 'success', {
        timer: 5000,
        confirmButtonText: 'متوجه شدم'
      })
    },
    restedForm() {
      this.getCrypto()
    },
  },
}
</script>

<style scoped>

</style>
