<template>
  <div>
    <template>
      <!-- First Row -->
      <b-row>
        <b-col
          cols="12"
          xl="9"
          lg="8"
          md="7"
        >
          <user-view-user-info-card
            v-if="$havePermission('DETAILS_USERS')"
            :user-data="userData"
            @change-status="changeStatus"
            @change-auth="changeAuthModal"
            @force-auth="forceAuthModal"
            @edit="sendData"
          />
        </b-col>
        <b-col
          cols="12"
          md="5"
          xl="3"
          lg="4"
        >
          <user-view-user-plan-card
            class="position-sticky"
            style="top:100px"
          />
        </b-col>
        <b-col>
          <bank-accounts
            v-if="$havePermission('DETAILS_USERS')"
            :key="randomNumber"
            :bank-accounts="userData.bankAccounts"
            :auth="userData.authenticationType"
            :check="check"
            @checkAccount="changeBank($event)"
          />
        </b-col>
      </b-row>
    </template>
  </div>
</template>
<script>

export default {
  name: 'Show',
  components: {},
  data: () => ({

  }),
  computed: {},
  methods: {},
}
</script>
